In [ ]:
import pandas as pd
import sqlite3
conn = sqlite3.connect("/content/sqlite-sakila.db")
rental_df = pd.read_sql_query("SELECT * from rental", conn)
print(rental_df)

       rental_id              rental_date  inventory_id  customer_id  \
0              1  2005-05-24 22:53:30.000           367          130
1              2  2005-05-24 22:54:33.000          1525          459
2              3  2005-05-24 23:03:39.000          1711          408
3              4  2005-05-24 23:04:41.000          2452          333
4              5  2005-05-24 23:05:21.000          2079          222
...          ...                      ...           ...          ...
16039      16045  2005-08-23 22:25:26.000           772           14
16040      16046  2005-08-23 22:26:47.000          4364           74
16041      16047  2005-08-23 22:42:48.000          2088          114
16042      16048  2005-08-23 22:43:07.000          2019          103
16043      16049  2005-08-23 22:50:12.000          2666          393

                   return_date  staff_id          last_update
0      2005-05-26 22:04:30.000         1  2021-03-06 15:53:41
1      2005-05-28 19:40:33.000         1  2021-03-06 15:53:41
2      2005-06-01 22:12:39.000         1  2021-03-06 15:53:41
3      2005-06-03 01:43:41.000         2  2021-03-06 15:53:41
4      2005-06-02 04:33:21.000         1  2021-03-06 15:53:41
...                        ...       ...                  ...
16039  2005-08-25 23:54:26.000         1  2021-03-06 15:55:57
16040  2005-08-27 18:02:47.000         2  2021-03-06 15:55:57
16041  2005-08-25 02:48:48.000         2  2021-03-06 15:55:57
16042  2005-08-31 21:33:07.000         1  2021-03-06 15:55:57
16043  2005-08-30 01:01:12.000         2  2021-03-06 15:55:57

[16044 rows x 7 columns]

In [ ]:
import pandas as pd
import sqlite3
# Veritabanına bağlantı kur
conn =sqlite3.connect('/content/sqlite-sakila.db')
# Gerekli tabloları pandas DataFrame olarak yükle
film_df = pd.read_sql_query("SELECT * FROM film", conn)
film_actor_df = pd.read_sql_query("SELECT * FROM film_actor", conn)
actor_df = pd.read_sql_query("SELECT * FROM actor", conn)
# DataFrame'leri birleştir
merged_df = pd.merge(film_df, film_actor_df, on='film_id')
merged_df = pd.merge(merged_df, actor_df, on='actor_id')
# İstenen sütunları seç
result_df = merged_df[['title', 'first_name', 'last_name']]
# Her filmde oynayan aktörleri göster
print(result_df)

                  title first_name  last_name
0      ACADEMY DINOSAUR   PENELOPE    GUINESS
1      ACADEMY DINOSAUR  CHRISTIAN      GABLE
2      ACADEMY DINOSAUR    LUCILLE      TRACY
3      ACADEMY DINOSAUR     SANDRA       PECK
4      ACADEMY DINOSAUR     JOHNNY       CAGE
...                 ...        ...        ...
5457  ZOOLANDER FICTION     WHOOPI       HURT
5458  ZOOLANDER FICTION       JADA      RYDER
5459          ZORRO ARK        IAN      TANDY
5460          ZORRO ARK       NICK  DEGENERES
5461          ZORRO ARK       LISA     MONROE

[5462 rows x 3 columns]

# **SORULAR**

**1. Soru : Tüm verileri göster  ==>  " SQL: Select * from rental; "**

In [ ]:
import sqlite3
import pandas as pd


conn = sqlite3.connect("/content/sqlite-sakila.db")

df = {}

query = "SELECT * FROM rental"
df['rental'] = pd.DataFrame(conn.execute(query).fetchall(), columns=[column[0] for column in conn.execute(query).description])

conn.close()

print(df['rental'])

       rental_id              rental_date  inventory_id  customer_id  \
0              1  2005-05-24 22:53:30.000           367          130
1              2  2005-05-24 22:54:33.000          1525          459
2              3  2005-05-24 23:03:39.000          1711          408
3              4  2005-05-24 23:04:41.000          2452          333
4              5  2005-05-24 23:05:21.000          2079          222
...          ...                      ...           ...          ...
16039      16045  2005-08-23 22:25:26.000           772           14
16040      16046  2005-08-23 22:26:47.000          4364           74
16041      16047  2005-08-23 22:42:48.000          2088          114
16042      16048  2005-08-23 22:43:07.000          2019          103
16043      16049  2005-08-23 22:50:12.000          2666          393

                   return_date  staff_id          last_update
0      2005-05-26 22:04:30.000         1  2021-03-06 15:53:41
1      2005-05-28 19:40:33.000         1  2021-03-06 15:53:41
2      2005-06-01 22:12:39.000         1  2021-03-06 15:53:41
3      2005-06-03 01:43:41.000         2  2021-03-06 15:53:41
4      2005-06-02 04:33:21.000         1  2021-03-06 15:53:41
...                        ...       ...                  ...
16039  2005-08-25 23:54:26.000         1  2021-03-06 15:55:57
16040  2005-08-27 18:02:47.000         2  2021-03-06 15:55:57
16041  2005-08-25 02:48:48.000         2  2021-03-06 15:55:57
16042  2005-08-31 21:33:07.000         1  2021-03-06 15:55:57
16043  2005-08-30 01:01:12.000         2  2021-03-06 15:55:57

[16044 rows x 7 columns]

**2. Soru : Her filmdeki oyuncuları listele  ==> " SQL: SELECT film.title, actor.first_name, actor.last_name FROM film
JOIN film actor ON film.film_id = film_actor.film_id JOIN actor ON film_actor.actor_id = actor.actor_id;
 "**

In [ ]:
import pandas as pd
import sqlite3


conn = sqlite3.connect('sqlite-sakila.db')

df = {}

for table_name in ['film', 'actor', 'film_actor']:
    query = f"SELECT * FROM {table_name}"
    df[table_name] = pd.DataFrame(conn.execute(query).fetchall(), columns=[column[0] for column in conn.execute(query).description])

film_actor_info = df['film'].merge(df['film_actor'], on='film_id', how='inner') \
                             .merge(df['actor'], on='actor_id', how='inner')

result = film_actor_info[['title', 'first_name', 'last_name']]

conn.close()

print(result)

                  title first_name  last_name
0      ACADEMY DINOSAUR   PENELOPE    GUINESS
1      ACADEMY DINOSAUR  CHRISTIAN      GABLE
2      ACADEMY DINOSAUR    LUCILLE      TRACY
3      ACADEMY DINOSAUR     SANDRA       PECK
4      ACADEMY DINOSAUR     JOHNNY       CAGE
...                 ...        ...        ...
5457  ZOOLANDER FICTION     WHOOPI       HURT
5458  ZOOLANDER FICTION       JADA      RYDER
5459          ZORRO ARK        IAN      TANDY
5460          ZORRO ARK       NICK  DEGENERES
5461          ZORRO ARK       LISA     MONROE

[5462 rows x 3 columns]

**3. Soru : Her filmde kaç oyuncu oynadı?  ==> " SQL: "SELECT film.title, COUNT(actor.actor_id) AS actor_count FROM film
JOIN film_actor ON film.film_id = film_actor.film_id
JOIN actor ON film_actor.actor_id = actor.actor_id GROUP BY film.title; "**

In [ ]:
import pandas as pd
import sqlite3

conn = sqlite3.connect('sqlite-sakila.db')

df = {}

for table_name in ['film', 'actor', 'film_actor']:
    query = f"SELECT * FROM {table_name}"
    df[table_name] = pd.DataFrame(conn.execute(query).fetchall(), columns=[column[0] for column in conn.execute(query).description])

film_actor_info = df['film'].merge(df['film_actor'], on='film_id', how='inner') \
                             .merge(df['actor'], on='actor_id', how='inner')

actor_count = film_actor_info.groupby('title').size().reset_index(name='actor_count')

result = actor_count

conn.close()

print(result)

                 title  actor_count
0     ACADEMY DINOSAUR           10
1       ACE GOLDFINGER            4
2     ADAPTATION HOLES            5
3     AFFAIR PREJUDICE            5
4          AFRICAN EGG            5
..                 ...          ...
992     YOUNG LANGUAGE            5
993         YOUTH KICK            5
994       ZHIVAGO CORE            6
995  ZOOLANDER FICTION            5
996          ZORRO ARK            3

[997 rows x 2 columns]

**Soru 4: Her oyuncu kaç filmde oynadı?  ==>  "SQL : SELECT actor.first_name, actor.last_name, COUNT(film.film_id) AS movie_count FROM actor
JOIN film actor ON actor.actor_id = film_actor.actor_id
JOIN film ON film actor.film_id = film.film_id
GROUP BY actor.first_name, actor.last_name;  "**

In [ ]:
import pandas as pd
import sqlite3

conn = sqlite3.connect('sqlite-sakila.db')

df = {}

for table_name in ['actor', 'film', 'film_actor']:
    query = f"SELECT * FROM {table_name}"
    df[table_name] = pd.DataFrame(conn.execute(query).fetchall(), columns=[column[0] for column in conn.execute(query).description])

actor_film_info = df['actor'].merge(df['film_actor'], on='actor_id', how='inner') \
                             .merge(df['film'], on='film_id', how='inner')

movie_count = actor_film_info.groupby(['first_name', 'last_name']).size().reset_index(name='movie_count')

result = movie_count

conn.close()

print(result)

    first_name  last_name  movie_count
0         ADAM      GRANT           18
1         ADAM     HOPPER           22
2           AL    GARLAND           26
3         ALAN   DREYFUSS           27
4       ALBERT  JOHANSSON           33
..         ...        ...          ...
194       WILL     WILSON           31
195    WILLIAM    HACKMAN           27
196      WOODY    HOFFMAN           31
197      WOODY      JOLIE           31
198       ZERO       CAGE           25

[199 rows x 3 columns]

**Soru 5: Envanterde olmayan filmler var mı ve varsa kaç tane? ==> " SQL:
SELECT COUNT(*) AS not_in_inventory
FROM film
WHERE film_id NOT IN (SELECT film_id FROM inventory);
 "**

In [ ]:
import pandas as pd
import sqlite3

conn = sqlite3.connect('sqlite-sakila.db')

df = {}

for table_name in ['film', 'inventory']:
    query = f"SELECT * FROM {table_name}"
    df[table_name] = pd.DataFrame(conn.execute(query).fetchall(), columns=[column[0] for column in conn.execute(query).description])

not_in_inventory_count = df['film'][~df['film']['film_id'].isin(df['inventory']['film_id'])].shape[0]
result = pd.DataFrame({'not_in_inventory': [not_in_inventory_count]})

conn.close()

print(result)

   not_in_inventory
0                42

**Soru 6: Kiralanabilir olan her filmin kaç kez kiralandığını ve toplam gelirlerini getirin  ==> " SQL:
SELECT film.title, COUNT(rental.rental_id) AS rental_count, SUM(payment.amount) AS total_r
FROM film
JOIN inventory ON film.film_id = inventory.film_id
JOIN rental ON inventory.inventory_id = rental.inventory_id
JOIN payment ON rental.rental_id = payment.rental_id
GROUP BY film.title;
;"**

In [ ]:
import pandas as pd
import sqlite3

conn = sqlite3.connect('sqlite-sakila.db')

df = {}

for table_name in ['film', 'inventory', 'rental', 'payment']:
    query = f"SELECT * FROM {table_name}"
    df[table_name] = pd.DataFrame(conn.execute(query).fetchall(), columns=[column[0] for column in conn.execute(query).description])

film_rental_info = df['film'] \
    .merge(df['inventory'], on='film_id', suffixes=('', '_inv')) \
    .merge(df['rental'], on='inventory_id', suffixes=('', '_rental')) \
    .merge(df['payment'], on='rental_id', suffixes=('', '_payment')) \
    .groupby('title').agg(
        kiralama_sayisi=('rental_id', 'count'),
        toplam_gelir=('amount', 'sum')
    ).reset_index()

conn.close()

print(film_rental_info)

                 title  kiralama_sayisi  toplam_gelir
0     ACADEMY DINOSAUR               23         36.77
1       ACE GOLDFINGER                7         52.93
2     ADAPTATION HOLES               12         37.88
3     AFFAIR PREJUDICE               23         91.77
4          AFRICAN EGG               12         51.88
..                 ...              ...           ...
953     YOUNG LANGUAGE                7          6.93
954         YOUTH KICK                6         16.94
955       ZHIVAGO CORE                9         14.91
956  ZOOLANDER FICTION               17         73.83
957          ZORRO ARK               31        214.69

[958 rows x 3 columns]

**Soru 7: Envanterde olmayan filmlerin kira oranlarını getirin  ==>  "SQL:
SELECT title, rental_rate
FROM film
WHERE film_id NOT IN (SELECT film_id FROM inventory);"**

In [ ]:
import pandas as pd
import sqlite3

conn = sqlite3.connect('sqlite-sakila.db')

df = {}

for table_name in ['film', 'inventory']:
    query = f"SELECT * FROM {table_name}"
    df[table_name] = pd.DataFrame(conn.execute(query).fetchall(), columns=[column[0] for column in conn.execute(query).description])

film_not_in_inventory = df['film'][~df['film']['film_id'].isin(df['inventory']['film_id'])][['title', 'rental_rate']]

film_not_in_inventory.columns = ['başlık', 'kiralama_tutarı']

conn.close()

print(film_not_in_inventory)

                     başlık  kiralama_tutarı
13           ALICE FANTASIA             0.99
32              APOLLO TEEN             2.99
35           ARGONAUTS TOWN             0.99
37            ARK RIDGEMONT             0.99
40     ARSENIC INDEPENDENCE             0.99
86        BOONDOCK BALLROOM             0.99
107           BUTCH PANTHER             0.99
127           CATCH AMISTAD             0.99
143     CHINATOWN GLADIATOR             4.99
147          CHOCOLATE DUCK             2.99
170    COMMANDMENTS EXPRESS             4.99
191        CROSSING DIVORCE             4.99
194         CROWDS TELEMARK             4.99
197        CRYSTAL BREAKING             2.99
216              DAZED PUNK             4.99
220  DELIVERANCE MULHOLLAND             0.99
317       FIREHOUSE VIETNAM             0.99
324           FLOATS GARDEN             2.99
331   FRANKENSTEIN STRANGER             0.99
358      GLADIATOR WESTWARD             4.99
385               GUMP DATE             4.99
403           HATE HANDICAP             0.99
418             HOCUS FRIDA             2.99
494        KENTUCKIAN GIANT             2.99
496        KILL BROTHERHOOD             0.99
606             MUPPET MILE             4.99
641          ORDER BETRAYED             2.99
668           PEARL DESTINY             2.99
670         PERDITION FARGO             4.99
700           PSYCHO SHRUNK             2.99
711       RAIDERS ANTITRUST             0.99
712           RAINBOW SHOCK             4.99
741           ROOF CHAMPION             0.99
800           SISTER FREDDY             4.99
801             SKY MIRACLE             2.99
859        SUICIDES SILENCE             4.99
873            TADPOLE PARK             2.99
908        TREASURE COMMAND             0.99
942       VILLAIN DESPERATE             4.99
949            VOLUME HOUSE             4.99
953               WAKE JAWS             4.99
954            WALLS ARTIST             4.99

**Soru 8: Birden fazla DVD'yi iade etmeyen kaç müşteri var?  ==>  "SQL: SELECT COUNT(DISTINCT customer_id) AS customer_count
FROM rental
WHERE return_date IS NULL
GROUP BY customer_id  "**

In [ ]:
import pandas as pd
import sqlite3

conn = sqlite3.connect('sqlite-sakila.db')

df = {}

for table_name in ['rental']:
    query = f"SELECT * FROM {table_name}"
    df[table_name] = pd.DataFrame(conn.execute(query).fetchall(), columns=[column[0] for column in conn.execute(query).description])

musteri_sayisi = df['rental'] \
    .query('return_date.isnull()', engine='python') \
    .customer_id.nunique()

sonuc = pd.DataFrame({'musteri_sayisi': [musteri_sayisi]})

conn.close()

print(sonuc)

   musteri_sayisi
0             159

**Soru 9: Her müşteri kaç film kiraladı?  ==>  "SQL:  SELECT customer.first_name, customer.last_name, COUNT(rental.rental_id) AS rental_count FROM customer
JOIN rental ON customer.customer_id = rental.customer_id
GROUP BY customer.first_name, customer.last_name; "**

In [ ]:
import pandas as pd
import sqlite3

conn = sqlite3.connect('sqlite-sakila.db')

df = {}

for table_name in ['customer', 'rental']:
    query = f"SELECT * FROM {table_name}"
    df[table_name] = pd.DataFrame(conn.execute(query).fetchall(), columns=[column[0] for column in conn.execute(query).description])

kiralama_sayilari = df['customer'] \
    .merge(df['rental'], on='customer_id', how='left') \
    .groupby(['first_name', 'last_name']).agg(
        kiralama_sayisi=('rental_id', 'count')
    ).reset_index()

conn.close()

print(kiralama_sayilari)

    first_name last_name  kiralama_sayisi
0        AARON     SELBY               24
1         ADAM     GOOCH               22
2       ADRIAN     CLARY               19
3        AGNES    BISHOP               23
4         ALAN      KAHN               26
..         ...       ...              ...
594     WILLIE   MARKHAM               25
595      WILMA  RICHARDS               20
596    YOLANDA    WEAVER               27
597     YVONNE   WATKINS               21
598    ZACHARY      HITE               31

[599 rows x 3 columns]

**Soru 10: Türlerine göre en çok kiralanan filmler ve bunlara ne kadar ödendi?  ==>  "SQL:  SELECT film.title AS film_title,
       category.name AS genre,
       COUNT(rental.rental_id) AS rental_count,
       SUM(payment.amount) AS total_revenue
FROM film
JOIN film_category ON film.film_id = film_category.film_id
JOIN category ON film_category.category_id = category.category_id
JOIN inventory ON film.film_id = inventory.film_id
JOIN rental ON inventory.inventory_id = rental.inventory_id
JOIN payment ON rental.rental_id = payment.rental_id
GROUP BY film.title, category.name
ORDER BY rental_count DESC; "**

In [ ]:
import pandas as pd
import sqlite3

conn = sqlite3.connect('sqlite-sakila.db')

df = {}

for table_name in ['film', 'film_category', 'category', 'inventory', 'rental', 'payment']:
    query = f"SELECT * FROM {table_name}"
    df[table_name] = pd.DataFrame(conn.execute(query).fetchall(), columns=[column[0] for column in conn.execute(query).description])

film_kiralama_geliri = df['film'] \
    .merge(df['film_category'], on='film_id', suffixes=('', '_cat')) \
    .merge(df['category'], on='category_id', suffixes=('', '_cat2')) \
    .merge(df['inventory'], on='film_id', suffixes=('', '_inv')) \
    .merge(df['rental'], on='inventory_id', suffixes=('', '_rental')) \
    .merge(df['payment'], on='rental_id', suffixes=('', '_payment')) \
    .groupby(['title', 'name']).agg(
        kiralama_sayisi=('rental_id', 'count'),
        toplam_gelir=('amount', 'sum')
    ).reset_index().sort_values(by='kiralama_sayisi', ascending=False)

conn.close()

print(film_kiralama_geliri)

                   title         name  kiralama_sayisi  toplam_gelir
96    BUCKET BROTHERHOOD       Travel               34        180.66
705     ROCKETEER MOTHER      Foreign               33        116.67
697  RIDGEMONT SUBMARINE          New               32        130.68
361       GRIT CLOCKWORK        Games               32        110.68
465       JUGGLER HARDLY    Animation               32         96.68
..                   ...          ...              ...           ...
323      FULL FLATLINERS     Children                5         16.95
87      BRAVEHEART HUMAN       Family                5         16.95
378       HARDLY ROBBERS  Documentary                4         15.96
558          MIXED DOORS      Foreign                4         15.96
866          TRAIN BUNCH       Horror                4         24.96

[958 rows x 4 columns]

**Soru 11: Tür ve Tarihe Göre Kiralama Sayısı ve Gelir  ==>  "SQL:  SELECT category.name AS genre,
       DATE(rental.rental_date) AS rental_date,
       COUNT(rental.rental_id) AS rental_count,
       SUM(payment.amount) AS total_revenue
FROM category
JOIN film_category ON category.category_id = film_category.category_id
JOIN film ON film_category.film_id = film.film_id
JOIN inventory ON film.film_id = inventory.film_id
JOIN rental ON inventory.inventory_id = rental.inventory_id
JOIN payment ON rental.rental_id = payment.rental_id
GROUP BY genre, rental_date
ORDER BY rental_date; " "**

In [ ]:
import pandas as pd
import sqlite3

# Veritabanı bağlantısı
conn = sqlite3.connect('sqlite-sakila.db')

# Tabloları veritabanından çekme
df = {}
for table_name in ['category', 'film_category', 'film', 'inventory', 'rental', 'payment']:
    query = f"SELECT * FROM {table_name}"
    df[table_name] = pd.DataFrame(conn.execute(query).fetchall(),
                                  columns=[column[0] for column in conn.execute(query).description])

# Kiralama tarihine göre gelir hesaplama
kiralama_tarihi_gelir = df['category'] \
    .merge(df['film_category'], on='category_id', suffixes=('', '_cat')) \
    .merge(df['film'], on='film_id', suffixes=('', '_film')) \
    .merge(df['inventory'], on='film_id', suffixes=('', '_inv')) \
    .merge(df['rental'], on='inventory_id', suffixes=('', '_rental')) \
    .merge(df['payment'], on='rental_id', suffixes=('', '_payment')) \
    .assign(rental_date=lambda x: pd.to_datetime(x['rental_date'])) \
    .groupby(['name', 'rental_date']).agg(
        kiralama_sayisi=('rental_id', 'count'),
        toplam_gelir=('amount', 'sum')
    ).reset_index().sort_values(by='rental_date')

conn.close()

print(kiralama_tarihi_gelir)

              name         rental_date  kiralama_sayisi  toplam_gelir
7142        Family 2005-05-24 22:53:30                1          2.99
11039        Music 2005-05-24 22:54:33                1          2.99
2241      Children 2005-05-24 23:03:39                1          3.99
10205       Horror 2005-05-24 23:04:41                1          4.99
2242      Children 2005-05-24 23:05:21                1          6.99
...            ...                 ...              ...           ...
6088   Documentary 2006-02-14 15:16:03                6          7.96
1095        Action 2006-02-14 15:16:03               17         55.80
11038       Horror 2006-02-14 15:16:03               12         33.88
12786          New 2006-02-14 15:16:03               13         30.89
15872       Travel 2006-02-14 15:16:03               10         30.91

[15873 rows x 4 columns]

**Soru 12: Kiralanabilir Filmler İçin Türlerine Göre Her Filmin Kaç Kez Kiralandığı
  ==>  "SQL:  
SELECT category.name AS genre, film.title, COUNT(rental.rental_id) AS rental_count FROM category
JOIN film_category ON category.category_id
=
film_category.category_id
JOIN film ON film_category.film_id = film.film_id
JOIN inventory ON film.film_id = inventory.film_id
JOIN rental ON inventory.inventory_id = rental.inventory_id GROUP BY genre, film.title; "**

In [ ]:
import pandas as pd
import sqlite3

conn = sqlite3.connect('sqlite-sakila.db')

df = {}

for table_name in ['category', 'film_category', 'film', 'inventory', 'rental']:
    query = f"SELECT * FROM {table_name}"
    df[table_name] = pd.DataFrame(conn.execute(query).fetchall(), columns=[column[0] for column in conn.execute(query).description])


film_kiralama_sayilari = df['category'] \
    .merge(df['film_category'], on='category_id', suffixes=('', '_cat')) \
    .merge(df['film'], on='film_id', suffixes=('', '_film')) \
    .merge(df['inventory'], on='film_id', suffixes=('', '_inv')) \
    .merge(df['rental'], on='inventory_id', suffixes=('', '_rental')) \
    .groupby(['name', 'title']).agg(
        kiralama_sayisi=('rental_id', 'count')
    ).reset_index()

conn.close()

print(film_kiralama_sayilari)

       name                title  kiralama_sayisi
0    Action         AMADEUS HOLY               21
1    Action      AMERICAN CIRCUS               22
2    Action   ANTITRUST TOMATOES               10
3    Action  BAREFOOT MANCHURIAN               18
4    Action         BERETS AGENT               21
..      ...                  ...              ...
953  Travel  VALENTINE VANISHING               12
954  Travel          WINDOW SIDE               12
955  Travel        WOLVES DESIRE               21
956  Travel        WORKER TARZAN               15
957  Travel  WORKING MICROCOSMOS               25

[958 rows x 3 columns]

**Soru 13: En çok rafta bekleyen filmler  ==>  "SQL:
SELECT film.title,
       CAST(JULIANDAY('now') - JULIANDAY(rental.rental_date) AS INTEGER) AS days_on_shelf
FROM film
JOIN inventory ON film.film_id = inventory.film_id
JOIN rental ON inventory.inventory_id = rental.inventory_id
WHERE rental.return_date IS NULL
ORDER BY days_on_shelf DESC;
"**

In [ ]:
import pandas as pd
import sqlite3

conn = sqlite3.connect('sqlite-sakila.db')

df = {}

for table_name in ['film', 'inventory', 'rental']:
    query = f"SELECT * FROM {table_name}"
    df[table_name] = pd.DataFrame(conn.execute(query).fetchall(), columns=[column[0] for column in conn.execute(query).description])

rafta_bekleyen_filmler = df['film'] \
    .merge(df['inventory'], on='film_id') \
    .merge(df['rental'], on='inventory_id', how='left') \
    .query('return_date.isnull()') \
    .assign(gun_sayisi=lambda x: (pd.to_datetime('now') - pd.to_datetime(x['rental_date'])).dt.days) \
    .sort_values(by='gun_sayisi', ascending=False)

conn.close()

print(rafta_bekleyen_filmler[['title', 'gun_sayisi']])

                       title  gun_sayisi
17          ACADEMY DINOSAUR      7003.0
9692         MUMMY CREATURES      6825.0
10017           NONE SPIKING      6825.0
10188    OPERATION OPERATION      6825.0
10224      OPPOSITE NECKLACE      6825.0
...                      ...         ...
5030        FIGHT JAWBREAKER      6825.0
5211             FLYING HOOK      6825.0
5292   FORRESTER COMANCHEROS      6825.0
15996           ZHIVAGO CORE      6825.0
12          ACADEMY DINOSAUR         NaN

[184 rows x 2 columns]

**Soru 14: Geç, Erken ve Zamanında İade Edilen Kiralanmış Filmler ==>  "SQL:
SELECT
    SUM(CASE WHEN return_date > DATE(rental_date, '+7 days') THEN 1 ELSE 0 END) AS late_returns,
    SUM(CASE WHEN return_date < DATE(rental_date, '+7 days') THEN 1 ELSE 0 END) AS early_returns,
    SUM(CASE WHEN return_date = DATE(rental_date, '+7 days') THEN 1 ELSE 0 END) AS on_time_returns
FROM rental;
"**

In [ ]:
import pandas as pd
import sqlite3

conn = sqlite3.connect('sqlite-sakila.db')

df = {}

for table_name in ['rental']:
    query = f"SELECT * FROM {table_name}"
    df[table_name] = pd.DataFrame(conn.execute(query).fetchall(), columns=[column[0] for column in conn.execute(query).description])

rental_data = df['rental']

rental_data['rental_date'] = pd.to_datetime(rental_data['rental_date'])
rental_data['return_date'] = pd.to_datetime(rental_data['return_date'])

gecikmeli_iadeler = rental_data[rental_data['return_date'] > (rental_data['rental_date'] + pd.Timedelta(days=7))].shape[0]
erken_iadeler = rental_data[rental_data['return_date'] < (rental_data['rental_date'] + pd.Timedelta(days=7))].shape[0]
zamanda_iadeler = rental_data[rental_data['return_date'] == (rental_data['rental_date'] + pd.Timedelta(days=7))].shape[0]

print(f"Gecikmeli iadeler: {gecikmeli_iadeler}")
print(f"Erken iadeler: {erken_iadeler}")
print(f"Zamanında iadeler: {zamanda_iadeler}")

conn.close()

Gecikmeli iadeler: 4494
Erken iadeler: 11364
Zamanında iadeler: 3

**Soru 15: Hangi müşteri en çok DVD kiralamış?  ==>  "SQL: SELECT customer.first_name,
       customer.last_name,
       COUNT(rental.rental_id) AS rental_count
FROM customer
JOIN rental ON customer.customer_id = rental.customer_id
GROUP BY customer.first_name, customer.last_name
ORDER BY rental_count DESC
LIMIT 1;
 "**

In [ ]:
import pandas as pd
import sqlite3

conn = sqlite3.connect('sqlite-sakila.db')

df = {}

for table_name in ['customer', 'rental', 'inventory']:
    query = f"SELECT * FROM {table_name}"
    df[table_name] = pd.DataFrame(conn.execute(query).fetchall(), columns=[column[0] for column in conn.execute(query).description])

en_cok_dvd_kiralayan = df['customer'] \
    .merge(df['rental'], on='customer_id', how='left') \
    .merge(df['inventory'], on='inventory_id') \
    .groupby(['first_name', 'last_name']).agg(
        kiralama_sayisi=('rental_id', 'count')
    ).reset_index() \
    .sort_values(by='kiralama_sayisi', ascending=False).head(1)

conn.close()

print(en_cok_dvd_kiralayan)

    first_name last_name  kiralama_sayisi
175    ELEANOR      HUNT               46

**Soru 16: En popüler film kategorisi nedir?  ==>  "SQL:
SELECT category.name, COUNT(rental.rental_id) AS rental_count
FROM category
JOIN film_category ON category.category_id = film_category.category_id
JOIN film ON film_category.film_id = film.film_id
JOIN inventory ON film.film_id = inventory.film_id
JOIN rental ON inventory.inventory_id = rental.inventory_id
GROUP BY category.name
ORDER BY rental_count DESC
LIMIT 1; "**

In [ ]:
import pandas as pd
import sqlite3

conn = sqlite3.connect('sqlite-sakila.db')

df = {}

for table_name in ['category', 'film_category', 'film', 'inventory', 'rental']:
    query = f"SELECT * FROM {table_name}"
    df[table_name] = pd.DataFrame(conn.execute(query).fetchall(), columns=[column[0] for column in conn.execute(query).description])

populer_kategori = df['category'] \
    .merge(df['film_category'], on='category_id', suffixes=('_category', '_film_category')) \
    .merge(df['film'], on='film_id', suffixes=('_film_category', '_film')) \
    .merge(df['inventory'], on='film_id', suffixes=('_film', '_inventory')) \
    .merge(df['rental'], on='inventory_id', suffixes=('_inventory', '_rental')) \
    .groupby('name').agg(
        kiralama_sayisi=('rental_id', 'count')
    ).reset_index() \
    .sort_values(by='kiralama_sayisi', ascending=False).head(1)

conn.close()

print(populer_kategori)

      name  kiralama_sayisi
14  Sports             1179

**Soru 17: Hangi çalışan en çok kiralama işlemi gerçekleştirmiş?  ==>  "SQL:  SELECT staff.first_name,
       staff.last_name,
       COUNT(rental.rental_id) AS rental_count
FROM staff
JOIN rental ON staff.staff_id = rental.staff_id
GROUP BY staff.first_name, staff.last_name
ORDER BY rental_count DESC
LIMIT 1;
 "**

In [ ]:
import pandas as pd
import sqlite3

conn = sqlite3.connect('sqlite-sakila.db')

df = {}

for table_name in ['staff', 'rental']:
    query = f"SELECT * FROM {table_name}"
    df[table_name] = pd.DataFrame(conn.execute(query).fetchall(), columns=[column[0] for column in conn.execute(query).description])

en_cok_kiralama_yapan = df['staff'] \
    .merge(df['rental'], on='staff_id', how='left') \
    .groupby(['first_name', 'last_name']).agg(
        kiralama_sayisi=('rental_id', 'count')
    ).reset_index() \
    .sort_values(by='kiralama_sayisi', ascending=False).head(1)

conn.close()

print(en_cok_kiralama_yapan)

  first_name last_name  kiralama_sayisi
1       Mike   Hillyer             8040

**Soru 18: En çok geliri hangi film getirmiş?  ==>  "SQL:
SELECT film.title, SUM(payment.amount) AS total_revenue
FROM film
JOIN inventory ON film.film_id = inventory.film_id
JOIN rental ON inventory.inventory_id = rental.inventory_id JOIN payment ON rental.rental_id = payment.rental_id
GROUP BY film.title
ORDER BY total_revenue DESC
LIMIT 1;  "**

In [ ]:
import pandas as pd
import sqlite3

conn = sqlite3.connect('sqlite-sakila.db')

df = {}
for table_name in ['film', 'inventory', 'rental', 'payment']:
    query = f"SELECT * FROM {table_name}"
    df[table_name] = pd.DataFrame(conn.execute(query).fetchall(), columns=[column[0] for column in conn.execute(query).description])

en_cok_gelir_film = df['film'] \
    .merge(df['inventory'], on='film_id', suffixes=('', '_inventory')) \
    .merge(df['rental'], on='inventory_id', suffixes=('', '_rental')) \
    .merge(df['payment'], on='rental_id', suffixes=('', '_payment')) \
    .groupby('title').agg(toplam_gelir=('amount', 'sum')) \
    .reset_index() \
    .sort_values(by='toplam_gelir', ascending=False) \
    .head(1)

conn.close()

print(en_cok_gelir_film)

                title  toplam_gelir
841  TELEGRAPH VOYAGE        231.73

**Soru 19: Her müşteri için toplam harcama miktarını bulun  ==>  "SQL: SELECT
    customer.first_name AS musteri_ad,
    customer.last_name AS musteri_soyad,
    SUM(payment.amount) AS toplam_harcama
FROM
    customer
JOIN
    rental ON customer.customer_id = rental.customer_id
JOIN
    payment ON rental.rental_id = payment.rental_id
GROUP BY
    customer.first_name,
    customer.last_name;
 "**

In [ ]:
import pandas as pd
import sqlite3

conn = sqlite3.connect('sqlite-sakila.db')

df = {}
for table_name in ['customer', 'rental', 'payment']:
    query = f"SELECT * FROM {table_name}"
    df[table_name] = pd.DataFrame(conn.execute(query).fetchall(), columns=[column[0] for column in conn.execute(query).description])

toplam_harcama = df['customer'] \
    .merge(df['rental'], on='customer_id') \
    .merge(df['payment'], on='rental_id') \
    .groupby(['first_name', 'last_name']).agg(toplam_harcama=('amount', 'sum')) \
    .reset_index()

conn.close()

print(toplam_harcama)

    first_name last_name  toplam_harcama
0        AARON     SELBY          110.76
1         ADAM     GOOCH          101.78
2       ADRIAN     CLARY           74.81
3        AGNES    BISHOP           98.77
4         ALAN      KAHN          124.74
..         ...       ...             ...
594     WILLIE   MARKHAM          101.75
595      WILMA  RICHARDS           91.80
596    YOLANDA    WEAVER          110.73
597     YVONNE   WATKINS           92.79
598    ZACHARY      HITE          146.69

[599 rows x 3 columns]

**Soru 20: Her kategorideki toplam kiralama sayısını ve gelirleri bulun  ==>  "SQL: SELECT
    category.name AS category_name,
    COUNT(rental.rental_id) AS rental_count,
    SUM(payment.amount) AS total_payment
FROM
    category
JOIN
    film_category ON category.category_id = film_category.category_id
JOIN
    film ON film_category.film_id = film.film_id
JOIN
    inventory ON film.film_id = inventory.film_id
JOIN
    rental ON inventory.inventory_id = rental.inventory_id
JOIN
    payment ON rental.rental_id = payment.rental_id
GROUP BY
    category.name;
 "**

In [ ]:
import pandas as pd
import sqlite3

conn = sqlite3.connect('sqlite-sakila.db')

df = {}
for table_name in ['category', 'film_category', 'film', 'inventory', 'rental', 'payment']:
    query = f"SELECT * FROM {table_name}"
    df[table_name] = pd.DataFrame(conn.execute(query).fetchall(), columns=[column[0] for column in conn.execute(query).description])

kategori_kiralama = df['category'] \
    .merge(df['film_category'], on='category_id', suffixes=('', '_film_category')) \
    .merge(df['film'], on='film_id', suffixes=('', '_film')) \
    .merge(df['inventory'], on='film_id', suffixes=('', '_inventory')) \
    .merge(df['rental'], on='inventory_id', suffixes=('', '_rental')) \
    .merge(df['payment'], on='rental_id', suffixes=('', '_payment')) \
    .groupby('name').agg(
        kiralama_sayisi=('rental_id', 'count'),
        toplam_gelir=('amount', 'sum')
    ).reset_index()

conn.close()

print(kategori_kiralama)

           name  kiralama_sayisi  toplam_gelir
0        Action             1112       4375.85
1     Animation             1166       4656.30
2      Children              945       3655.55
3      Classics              939       3639.59
4        Comedy              941       4383.58
5   Documentary             1050       4217.52
6         Drama             1060       4587.39
7        Family             1096       4226.07
8       Foreign             1033       4270.67
9         Games              969       4281.33
10       Horror              846       3722.54
11        Music              830       3417.72
12          New              940       4351.62
13       Sci-Fi             1101       4756.98
14       Sports             1179       5314.21
15       Travel              837       3549.64

**Soru 21: En uzun süre kirada kalmış filmleri bulun  ==>  "SQL:  SELECT
    film.title,
    MAX(julianday(rental.return_date) - julianday(rental.rental_date)) AS max_rental_duration
FROM
    film
JOIN
    inventory ON film.film_id = inventory.film_id
JOIN
    rental ON inventory.inventory_id = rental.inventory_id
WHERE
    rental.return_date IS NOT NULL
GROUP BY
    film.title
ORDER BY
    max_rental_duration DESC
LIMIT 10;
 "**

In [ ]:
import pandas as pd
import sqlite3

# SQLite bağlantısını oluştur
conn = sqlite3.connect('sqlite-sakila.db')

# Tabloları df sözlüğüne yükle
df = {}
for table_name in ['film', 'inventory', 'rental']:
    query = f"SELECT * FROM {table_name}"
    df[table_name] = pd.DataFrame(conn.execute(query).fetchall(), columns=[column[0] for column in conn.execute(query).description])

# Gerekli join işlemlerini yaparak maksimum kiralama süresi sorgusunu oluştur
film_kiralama = df['film'] \
    .merge(df['inventory'], on='film_id', suffixes=('', '_inventory')) \
    .merge(df['rental'], on='inventory_id', suffixes=('', '_rental')) \
    .query("return_date.notnull()") \
    .assign(kiralama_suresi=lambda x: (pd.to_datetime(x['return_date']) - pd.to_datetime(x['rental_date'])).dt.total_seconds() / 86400) \
    .groupby('title').agg(
        max_kiralama_suresi=('kiralama_suresi', 'max')
    ).reset_index()

# En uzun kiralamaları al
film_kiralama = film_kiralama.sort_values(by='max_kiralama_suresi', ascending=False).head(10)

# Veritabanı bağlantısını kapat
conn.close()

print(film_kiralama)

                  title  max_kiralama_suresi
400  HOLOCAUST HIGHBALL             9.249306
393     HIGHBALL POTTER             9.249306
160   CONEHEADS SMOOCHY             9.248611
625          PANIC CLUB             9.248611
535          MASK PEACH             9.248611
868        TRAMP OTHERS             9.248611
602   NOTORIOUS REUNION             9.247222
38         ATTACKS HATE             9.247222
863         TRACY CIDER             9.246528
461        JERSEY SASSY             9.246528

**Soru 22: En az kiralanan 5 film hangileridir?  ==>  "SQL:
SELECT film.title, COUNT(rental.rental_id) AS rental_count FROM film
JOIN inventory ON film.film_id = inventory.film_id
JOIN rental ON inventory.inventory_id = rental.inventory_id GROUP BY film.title
ORDER BY rental_count ASC
LIMIT 5;"**

In [ ]:
import pandas as pd
import sqlite3

conn = sqlite3.connect('sqlite-sakila.db')

df = {}
for table_name in ['film', 'inventory', 'rental']:
    query = f"SELECT * FROM {table_name}"
    df[table_name] = pd.DataFrame(conn.execute(query).fetchall(), columns=[column[0] for column in conn.execute(query).description])

en_az_kiralanan_filmler = df['film'] \
    .merge(df['inventory'], on='film_id') \
    .merge(df['rental'], on='inventory_id') \
    .groupby('title').agg(kiralama_sayisi=('rental_id', 'count')) \
    .reset_index() \
    .sort_values(by='kiralama_sayisi') \
    .head(5)

conn.close()

print(en_az_kiralanan_filmler)

                  title  kiralama_sayisi
558         MIXED DOORS                4
866         TRAIN BUNCH                4
378      HARDLY ROBBERS                4
585  MUSSOLINI SPOILERS                5
315   FREEDOM CLEOPATRA                5

**Soru 24: En fazla kazanç sağlayan 5 müşteriyi bulun  ==>  "SQL: SELECT
    customer.first_name,
    customer.last_name,
    SUM(payment.amount) AS total_spent
FROM
    customer
JOIN
    rental ON customer.customer_id = rental.customer_id
JOIN
    payment ON rental.rental_id = payment.rental_id
GROUP BY
    customer.first_name, customer.last_name
ORDER BY
    total_spent DESC
LIMIT 5;
 "**

In [ ]:
import pandas as pd
import sqlite3

conn = sqlite3.connect('sqlite-sakila.db')

df = {}
for table_name in ['customer', 'rental', 'payment']:
    query = f"SELECT * FROM {table_name}"
    df[table_name] = pd.DataFrame(conn.execute(query).fetchall(), columns=[column[0] for column in conn.execute(query).description])

en_fazla_kazanc_musteri = df['customer'] \
    .merge(df['rental'], on='customer_id') \
    .merge(df['payment'], on='rental_id') \
    .groupby(['first_name', 'last_name']).agg(toplam_harcama=('amount', 'sum')) \
    .reset_index() \
    .sort_values(by='toplam_harcama', ascending=False) \
    .head(5)

conn.close()

print(en_fazla_kazanc_musteri)

    first_name last_name  toplam_harcama
318       KARL      SEAL          221.55
175    ELEANOR      HUNT          216.54
105      CLARA      SHAW          195.58
474     RHONDA   KENNEDY          194.61
389     MARION    SNYDER          194.61

**Soru 25: Her filmin ortalama kiralanma süresini bulun  ==>  "SQL: SELECT
    film.title,
    AVG(julianday(rental.return_date) - julianday(rental.rental_date)) AS avg_rental_duration
FROM
    film
JOIN
    inventory ON film.film_id = inventory.film_id
JOIN
    rental ON inventory.inventory_id = rental.inventory_id
WHERE
    rental.return_date IS NOT NULL
GROUP BY
    film.title;
 "**

In [ ]:
import pandas as pd
import sqlite3

# SQLite bağlantısını oluştur
conn = sqlite3.connect('sqlite-sakila.db')

# Tabloları df sözlüğüne yükle
df = {}
for table_name in ['film', 'inventory', 'rental']:
    query = f"SELECT * FROM {table_name}"
    df[table_name] = pd.DataFrame(conn.execute(query).fetchall(),
                                  columns=[column[0] for column in conn.execute(query).description])

# Gerekli join işlemlerini yaparak ortalama kiralama süresi sorgusunu oluştur
ortalama_kiralama_suresi = df['film'] \
    .merge(df['inventory'], on='film_id') \
    .merge(df['rental'], on='inventory_id') \
    .query("return_date.notnull()") \
    .assign(kiralama_suresi=lambda x: (pd.to_datetime(x['return_date']) - pd.to_datetime(x['rental_date'])).dt.total_seconds() / 86400) \
    .groupby('title').agg(avg_rental_duration=('kiralama_suresi', 'mean')) \
    .reset_index()

# Veritabanı bağlantısını kapat
conn.close()

print(ortalama_kiralama_suresi)

                 title  avg_rental_duration
0     ACADEMY DINOSAUR             4.997128
1       ACE GOLDFINGER             5.642708
2     ADAPTATION HOLES             3.465625
3     AFFAIR PREJUDICE             4.758333
4          AFRICAN EGG             7.106629
..                 ...                  ...
953     YOUNG LANGUAGE             4.624405
954         YOUTH KICK             5.562963
955       ZHIVAGO CORE             5.950087
956  ZOOLANDER FICTION             5.542647
957          ZORRO ARK             4.539180

[958 rows x 2 columns]

**Soru 26: Her türde en popüler filmi bulun ==>  "SQL: SELECT
    category.name AS genre,
    film.title,
    COUNT(rental.rental_id) AS rental_count
FROM
    category
JOIN
    film_category ON category.category_id = film_category.category_id
JOIN
    film ON film_category.film_id = film.film_id
JOIN
    inventory ON film.film_id = inventory.film_id
JOIN
    rental ON inventory.inventory_id = rental.inventory_id
GROUP BY
    genre, film.title
ORDER BY
    rental_count DESC
LIMIT 1;
 "**

In [ ]:
import pandas as pd
import sqlite3

conn = sqlite3.connect('sqlite-sakila.db')

df = {}
for table_name in ['category', 'film_category', 'film', 'inventory', 'rental']:
    query = f"SELECT * FROM {table_name}"
    df[table_name] = pd.DataFrame(conn.execute(query).fetchall(),
                                  columns=[column[0] for column in conn.execute(query).description])

populer_film = df['category'] \
    .merge(df['film_category'], on='category_id', suffixes=('', '_film_category')) \
    .merge(df['film'], on='film_id', suffixes=('', '_film')) \
    .merge(df['inventory'], on='film_id', suffixes=('', '_inventory')) \
    .merge(df['rental'], on='inventory_id', suffixes=('', '_rental')) \
    .groupby(['name', 'title']).agg(
        rental_count=('rental_id', 'count')
    ).reset_index() \
    .rename(columns={'name': 'genre'}) \
    .sort_values(by='rental_count', ascending=False) \
    .head(1)

conn.close()

print(populer_film)

      genre               title  rental_count
909  Travel  BUCKET BROTHERHOOD            34

**Soru 27: Her türde en fazla gelir sağlayan filmi bulun  ==>  "SQL: SELECT
    category.name AS genre,
    film.title,
    SUM(payment.amount) AS total_revenue
FROM
    category
JOIN
    film_category ON category.category_id = film_category.category_id
JOIN
    film ON film_category.film_id = film.film_id
JOIN
    inventory ON film.film_id = inventory.film_id
JOIN
    rental ON inventory.inventory_id = rental.inventory_id
JOIN
    payment ON rental.rental_id = payment.rental_id
GROUP BY
    genre, film.title
ORDER BY
    total_revenue DESC
LIMIT 1;
 "**

In [ ]:
import pandas as pd
import sqlite3

# SQLite bağlantısını oluştur
conn = sqlite3.connect('sqlite-sakila.db')

# Tabloları df sözlüğüne yükle
df = {}
for table_name in ['category', 'film_category', 'film', 'inventory', 'rental', 'payment']:
    query = f"SELECT * FROM {table_name}"
    df[table_name] = pd.DataFrame(conn.execute(query).fetchall(),
                                  columns=[column[0] for column in conn.execute(query).description])

# Gerekli join işlemlerini yaparak en yüksek toplam gelire sahip filmi ve türünü bul
en_yuksek_gelir_film = df['category'] \
    .merge(df['film_category'], on='category_id', suffixes=('_category', '_film_category')) \
    .merge(df['film'], on='film_id', suffixes=('', '_film')) \
    .merge(df['inventory'], on='film_id', suffixes=('', '_inventory')) \
    .merge(df['rental'], on='inventory_id', suffixes=('', '_rental')) \
    .merge(df['payment'], on='rental_id', suffixes=('', '_payment')) \
    .groupby(['name', 'title']).agg(
        total_revenue=('amount', 'sum')
    ).reset_index() \
    .rename(columns={'name': 'genre'}) \
    .sort_values(by='total_revenue', ascending=False) \
    .head(1)

# Veritabanı bağlantısını kapat
conn.close()

print(en_yuksek_gelir_film)

     genre             title  total_revenue
705  Music  TELEGRAPH VOYAGE         231.73

**Soru 28: En çok DVD iade etmeyen müşteriyi bulun  ==>  "SQL: SELECT
    customer.first_name,
    customer.last_name,
    COUNT(rental.rental_id) AS unreturned_count
FROM
    customer
JOIN
    rental ON customer.customer_id = rental.customer_id
WHERE
    rental.return_date IS NULL
GROUP BY
    customer.first_name, customer.last_name
ORDER BY
    unreturned_count DESC
LIMIT 1;**

In [ ]:
import pandas as pd
import sqlite3

conn = sqlite3.connect('sqlite-sakila.db')

df = {}
for table_name in ['customer', 'rental']:
    query = f"SELECT * FROM {table_name}"
    df[table_name] = pd.DataFrame(conn.execute(query).fetchall(),
                                  columns=[column[0] for column in conn.execute(query).description])

en_cok_dvd_iade_etmeyen_musteri = df['customer'] \
    .merge(df['rental'], on='customer_id') \
    .query("return_date.isnull()") \
    .groupby(['first_name', 'last_name']).agg(unreturned_count=('rental_id', 'count')) \
    .reset_index() \
    .sort_values(by='unreturned_count', ascending=False) \
    .head(1)

conn.close()

print("En Çok DVD İade Etmeyen Müşteri:")
print(en_cok_dvd_iade_etmeyen_musteri)

En Çok DVD İade Etmeyen Müşteri:
    first_name last_name  unreturned_count
144      TAMMY   SANDERS                 3

**Soru 29: En fazla kiralama yapan 5 çalışanı bulun  ==>  "SQL: SELECT
    staff.first_name,
    staff.last_name,
    COUNT(rental.rental_id) AS rental_count
FROM
    staff
JOIN
    rental ON staff.staff_id = rental.staff_id
GROUP BY
    staff.first_name, staff.last_name
ORDER BY
    rental_count DESC
LIMIT 5;
"**

In [ ]:
import pandas as pd
import sqlite3

conn = sqlite3.connect('sqlite-sakila.db')

df = {}
for table_name in ['staff', 'rental']:
    query = f"SELECT * FROM {table_name}"
    df[table_name] = pd.DataFrame(conn.execute(query).fetchall(), columns=[column[0] for column in conn.execute(query).description])

en_fazla_kiralama_yapan_calisan = df['staff'] \
    .merge(df['rental'], on='staff_id') \
    .groupby(['first_name', 'last_name']).agg(kiralama_sayisi=('rental_id', 'count')) \
    .reset_index() \
    .sort_values(by='kiralama_sayisi', ascending=False) \
    .head(5)

conn.close()

print(en_fazla_kiralama_yapan_calisan)

  first_name last_name  kiralama_sayisi
1       Mike   Hillyer             8040
0        Jon  Stephens             8004

**Soru 30: En fazla kiralama yapan 5 müşteri hangi şubeden kiralama yapmış?  ==>  "SQL:  SELECT
    store.store_id,
    customer.first_name,
    customer.last_name,
    COUNT(rental.rental_id) AS rental_count
FROM
    customer
JOIN
    rental ON customer.customer_id = rental.customer_id
JOIN
    inventory ON rental.inventory_id = inventory.inventory_id
JOIN
    store ON inventory.store_id = store.store_id
GROUP BY
    store.store_id, customer.first_name, customer.last_name
ORDER BY
    rental_count DESC
LIMIT 5;
 "**

In [ ]:
import pandas as pd
import sqlite3

# SQLite bağlantısını oluştur
conn = sqlite3.connect('sqlite-sakila.db')

# Tabloları df sözlüğüne yükle
df = {}
for table_name in ['customer', 'rental', 'inventory', 'store']:
    query = f"SELECT * FROM {table_name}"
    df[table_name] = pd.DataFrame(conn.execute(query).fetchall(),
                                  columns=[column[0] for column in conn.execute(query).description])
    print(f"{table_name} DataFrame:\n", df[table_name].head(), "\n")  # Her DataFrame'in başını yazdır

# Gerekli join işlemlerini yaparak her bir müşteri için kiralama sayısını hesapla
en_cok_kiralayan_musteriler = df['customer'] \
    .merge(df['rental'], on='customer_id') \
    .merge(df['inventory'], on='inventory_id') \
    # The 'store_id' is in the inventory table, so we should merge based on that first
    .merge(df['store'], on='store_id') \ # This line was indented too much, causing the error.
    .groupby(['store_id', 'first_name', 'last_name']).agg(
        rental_count=('rental_id', 'count')
    ).reset_index() \
    .sort_values(by='rental_count', ascending=False) \
    .head(5)

# Veritabanı bağlantısını kapat
conn.close()

print(en_cok_kiralayan_musteriler)

IndentationError: unexpected indent (<ipython-input-26-c0d51baa95e5>, line 20)

**Soru 31: Her türde en az kiralanan filmi bulun  ==>  "SQL: SELECT
    category.name AS genre,
    film.title,
    COUNT(rental.rental_id) AS rental_count
FROM
    category
JOIN
    film_category ON category.category_id = film_category.category_id
JOIN
    film ON film_category.film_id = film.film_id
JOIN
    inventory ON film.film_id = inventory.film_id
JOIN
    rental ON inventory.inventory_id = rental.inventory_id
GROUP BY
    genre, film.title
ORDER BY
    rental_count ASC
LIMIT 1;
 "**

In [ ]:
import pandas as pd
import sqlite3

conn = sqlite3.connect('sqlite-sakila.db')

df = {}
for table_name in ['category', 'film_category', 'film', 'inventory', 'rental']:
    query = f"SELECT * FROM {table_name}"
    df[table_name] = pd.DataFrame(conn.execute(query).fetchall(), columns=[column[0] for column in conn.execute(query).description])

en_az_kiralanan_film = df['category'] \
    .merge(df['film_category'], on='category_id') \
    .merge(df['film'], on='film_id') \
    .merge(df['inventory'], on='film_id', suffixes=('', '_inventory')) \
    .merge(df['rental'], on='inventory_id', suffixes=('', '_rental')) \
    .groupby(['name', 'title']).agg(kiralama_sayisi=('rental_id', 'count')) \
    .reset_index() \
    .sort_values(by='kiralama_sayisi', ascending=True) \
    .head(1) \
    .rename(columns={'name': 'kategori', 'title': 'film_adı', 'kiralama_sayısı': 'kiralama_sayısı'})

conn.close()

print("Her Türde En Az Kiralanan Film:")
print(en_az_kiralanan_film)

Her Türde En Az Kiralanan Film:
        kategori        film_adı  kiralama_sayisi
315  Documentary  HARDLY ROBBERS                4

**Soru 32: En çok kiralama yapan 5 müşteri hangi şehirde?  ==>  "SQL: SELECT
    city.city,
    customer.first_name,
    customer.last_name,
    COUNT(rental.rental_id) AS rental_count
FROM
    customer
JOIN
    address ON customer.address_id = address.address_id
JOIN
    city ON address.city_id = city.city_id
JOIN
    rental ON customer.customer_id = rental.customer_id
GROUP BY
    city.city, customer.first_name, customer.last_name
ORDER BY
    rental_count DESC
LIMIT 5;
"**

In [ ]:
import pandas as pd
import sqlite3

conn = sqlite3.connect('sqlite-sakila.db')

df = {}
for table_name in ['customer', 'address', 'city', 'rental']:
    query = f"SELECT * FROM {table_name}"
    df[table_name] = pd.DataFrame(conn.execute(query).fetchall(), columns=[column[0] for column in conn.execute(query).description])

en_cok_kiralama_yapan_musteri = df['customer'] \
    .merge(df['address'], on='address_id', suffixes=('', '_address')) \
    .merge(df['city'], on='city_id', suffixes=('', '_city')) \
    .merge(df['rental'], on='customer_id', suffixes=('', '_rental')) \
    .groupby(['city', 'first_name', 'last_name']).agg(kiralama_sayisi=('rental_id', 'count')) \
    .reset_index() \
    .sort_values(by='kiralama_sayisi', ascending=False) \
    .head(5) \
    .rename(columns={'city': 'şehir', 'first_name': 'isim', 'last_name': 'soyisim'})

conn.close()

print("En Çok Kiralama Yapan 5 Müşteri:")
print(en_cok_kiralama_yapan_musteri)

En Çok Kiralama Yapan 5 Müşteri:
           şehir     isim  soyisim  kiralama_sayisi
433  Saint-Denis  ELEANOR     HUNT               46
96    Cape Coral     KARL     SEAL               45
333    Molodetno    CLARA     SHAW               42
518        Tanza   MARCIA     DEAN               42
103     Changhwa    TAMMY  SANDERS               41

**Soru 33: En çok kazanç sağlayan 5 müşteriyi hangi şehirde bulun?  ==>  "SQL: SELECT
    city.city,
    customer.first_name,
    customer.last_name,
    SUM(payment.amount) AS total_spent
FROM
    customer
JOIN
    address ON customer.address_id = address.address_id
JOIN
    city ON address.city_id = city.city_id
JOIN
    rental ON customer.customer_id = rental.customer_id
JOIN
    payment ON rental.rental_id = payment.rental_id
GROUP BY
    city.city, customer.first_name, customer.last_name
ORDER BY
    total_spent DESC
LIMIT 5;
"**

In [ ]:
import sqlite3
import pandas as pd

# Veritabanı bağlantısı
conn = sqlite3.connect('sqlite-sakila.db')

# Tabloları veritabanından çekme
df = {}
for table_name in ['customer', 'address', 'city', 'rental', 'payment']:
    query = f"SELECT * FROM {table_name}"
    df[table_name] = pd.DataFrame(conn.execute(query).fetchall(),
                                  columns=[column[0] for column in conn.execute(query).description])

# En çok kazanç sağlayan 5 müşteriyi ve şehirlerini bulma
soru_33 = df['customer'] \
    .merge(df['address'], on='address_id', suffixes=('', '_address')) \
    .merge(df['city'], on='city_id', suffixes=('', '_city')) \
    .merge(df['rental'], on='customer_id', suffixes=('', '_rental')) \
    .merge(df['payment'], on='rental_id', suffixes=('', '_payment')) \
    .groupby(['city', 'first_name', 'last_name']) \
    .agg(toplam_harcama=('amount', 'sum')) \
    .reset_index() \
    .sort_values(by='toplam_harcama', ascending=False) \
    .head(5)  # En çok harcama yapan 5 müşteri

print("En çok kazanç sağlayan 5 müşteri ve şehirleri:")
print(soru_33[['city', 'first_name', 'last_name', 'toplam_harcama']])

# Bağlantıyı kapatma
conn.close()

En çok kazanç sağlayan 5 müşteri ve şehirleri:
                    city first_name last_name  toplam_harcama
96            Cape Coral       KARL      SEAL          221.55
433          Saint-Denis    ELEANOR      HUNT          216.54
333            Molodetno      CLARA      SHAW          195.58
23             Apeldoorn     RHONDA   KENNEDY          194.61
447  Santa Brbara dOeste     MARION    SNYDER          194.61

**Soru 34: En çok kiralanan 5 filmi hangi şehirde bulun?  ==>  "SQL: SELECT
    city.city,
    film.title,
    COUNT(rental.rental_id) AS rental_count
FROM
    city
JOIN
    address ON city.city_id = address.city_id
JOIN
    customer ON address.address_id = customer.address_id
JOIN
    rental ON customer.customer_id = rental.customer_id
JOIN
    inventory ON rental.inventory_id = inventory.inventory_id
JOIN
    film ON inventory.film_id = film.film_id
GROUP BY
    city.city, film.title
ORDER BY
    rental_count DESC
LIMIT 5;
"**

In [ ]:
import pandas as pd
import sqlite3

# SQLite bağlantısını oluştur
conn = sqlite3.connect('sqlite-sakila.db')

# Tabloları df sözlüğüne yükle
df = {}
for table_name in ['city', 'address', 'customer', 'rental', 'inventory', 'film']:
    query = f"SELECT * FROM {table_name}"
    df[table_name] = pd.DataFrame(conn.execute(query).fetchall(),
                                  columns=[column[0] for column in conn.execute(query).description])

# Gerekli join işlemlerini yaparak şehir ve film bazında kiralama sayısını hesapla
en_cok_kiralayan_filmler_sehir_bazinda = df['city'] \
    .merge(df['address'], on='city_id', suffixes=('', '_address')) \
    .merge(df['customer'], on='address_id', suffixes=('', '_customer')) \
    .merge(df['rental'], on='customer_id', suffixes=('', '_rental')) \
    .merge(df['inventory'], on='inventory_id', suffixes=('', '_inventory')) \
    .merge(df['film'], on='film_id', suffixes=('', '_film')) \
    .groupby(['city', 'title']).agg(
        rental_count=('rental_id', 'count')
    ).reset_index() \
    .sort_values(by='rental_count', ascending=False) \
    .head(5)

# Veritabanı bağlantısını kapat
conn.close()

print(en_cok_kiralayan_filmler_sehir_bazinda)

           city              title  rental_count
14182   Trshavn  FLATLINERS KILLER             3
12735  Sorocaba    CADDYSHACK JEDI             3
7308     Kurgan   DETECTIVE VISION             3
7828       Lima    DISCIPLE MOTHER             3
2598    Caracas   AFFAIR PREJUDICE             2

**Soru 35: En az kiralanan 5 filmi hangi şehirde bulun?  ==>  "SQL: SELECT
    city.city,
    film.title,
    COUNT(rental.rental_id) AS rental_count
FROM
    city
JOIN
    address ON city.city_id = address.city_id
JOIN
    customer ON address.address_id = customer.address_id
JOIN
    rental ON customer.customer_id = rental.customer_id
JOIN
    inventory ON rental.inventory_id = inventory.inventory_id
JOIN
    film ON inventory.film_id = film.film_id
GROUP BY
    city.city, film.title
ORDER BY
    rental_count ASC
LIMIT 5;
 "**

In [ ]:
import pandas as pd
import sqlite3

conn = sqlite3.connect('sqlite-sakila.db')

df = {}
for table_name in ['city', 'address', 'customer', 'rental', 'inventory', 'film']:
    query = f"SELECT * FROM {table_name}"
    df[table_name] = pd.DataFrame(conn.execute(query).fetchall(), columns=[column[0] for column in conn.execute(query).description])

en_az_kiralanan_film = df['city'] \
    .merge(df['address'], on='city_id', suffixes=('', '_address')) \
    .merge(df['customer'], on='address_id', suffixes=('', '_customer')) \
    .merge(df['rental'], on='customer_id', suffixes=('', '_rental')) \
    .merge(df['inventory'], on='inventory_id', suffixes=('', '_inventory')) \
    .merge(df['film'], on='film_id', suffixes=('', '_film')) \
    .groupby(['city', 'title']).agg(kiralama_sayisi=('rental_id', 'count')) \
    .reset_index() \
    .sort_values(by='kiralama_sayisi', ascending=True) \
    .head(5) \
    .rename(columns={'city': 'şehir', 'title': 'film_adı', 'kiralama_sayısı': 'kiralama_sayısı'})

conn.close()

print("En Az Kiralanan 5 Film:")
print(en_az_kiralanan_film)

En Az Kiralanan 5 Film:
                    şehir         film_adı  kiralama_sayisi
0      A Corua (La Corua)     BLADE POLISH                1
10513          Phnom Penh  TOURIST PELICAN                1
10514          Phnom Penh  TWISTED PIRATES                1
10515          Phnom Penh   VOYAGE LEGALLY                1
10516          Phnom Penh        WIFE TURN                1

**Soru 36: En çok kazanç sağlayan 5 filmi hangi şehirde bulun?  ==>  "SQL: SELECT
    city.city,
    film.title,
    SUM(payment.amount) AS total_revenue
FROM
    city
JOIN
    address ON city.city_id = address.city_id
JOIN
    customer ON address.address_id = customer.address_id
JOIN
    rental ON customer.customer_id = rental.customer_id
JOIN
    inventory ON rental.inventory_id = inventory.inventory_id
JOIN
    film ON inventory.film_id = film.film_id
JOIN
    payment ON rental.rental_id = payment.rental_id
GROUP BY
    city.city, film.title
ORDER BY
    total_revenue DESC
LIMIT 5;
"**

In [ ]:
import pandas as pd
import sqlite3

conn = sqlite3.connect('sqlite-sakila.db')

df = {}
for table_name in ['city', 'address', 'customer', 'rental', 'inventory', 'film', 'payment']:
    query = f"SELECT * FROM {table_name}"
    df[table_name] = pd.DataFrame(conn.execute(query).fetchall(),
                                  columns=[column[0] for column in conn.execute(query).description])

top_filmler_sehir_bazinda = df['city'] \
    .merge(df['address'], on='city_id', suffixes=('', '_address')) \
    .merge(df['customer'], on='address_id', suffixes=('', '_customer')) \
    .merge(df['rental'], on='customer_id', suffixes=('', '_rental')) \
    .merge(df['inventory'], on='inventory_id', suffixes=('', '_inventory')) \
    .merge(df['film'], on='film_id', suffixes=('', '_film')) \
    .merge(df['payment'], on='rental_id', suffixes=('', '_payment')) \
    .groupby(['city', 'title']).agg(
        total_revenue=('amount', 'sum')
    ).reset_index() \
    .sort_values(by='total_revenue', ascending=False) \
    .head(5)

conn.close()

print(top_filmler_sehir_bazinda)

                      city             title  total_revenue
10752          Probolinggo      MINDS TRUMAN          18.98
10565                Plock  CALIFORNIA BIRDS          18.98
6650                Kamyin    ROSES TREASURE          17.98
11854  Santa Brbara dOeste         WIFE TURN          17.98
3520                Datong      EAGLES PANKY          16.98

**Soru 37: En az kazanç sağlayan 5 filmi hangi şehirde bulun?  ==>  "SQL: SELECT
    city.city,
    film.title,
    SUM(payment.amount) AS total_revenue
FROM
    city
JOIN
    address ON city.city_id = address.city_id
JOIN
    customer ON address.address_id = customer.address_id
JOIN
    rental ON customer.customer_id = rental.customer_id
JOIN
    inventory ON rental.inventory_id = inventory.inventory_id
JOIN
    film ON inventory.film_id = film.film_id
JOIN
    payment ON rental.rental_id = payment.rental_id
GROUP BY
    city.city, film.title
ORDER BY
    total_revenue ASC
LIMIT 5;
"**

In [ ]:
import pandas as pd
import sqlite3

conn = sqlite3.connect('sqlite-sakila.db')

df = {}
for table_name in ['city', 'address', 'customer', 'rental', 'inventory', 'film', 'payment']:
    query = f"SELECT * FROM {table_name}"
    df[table_name] = pd.DataFrame(conn.execute(query).fetchall(),
                                  columns=[column[0] for column in conn.execute(query).description])

top_filmler_sehir_bazinda = df['city'] \
    .merge(df['address'], on='city_id', suffixes=('', '_address')) \
    .merge(df['customer'], on='address_id', suffixes=('', '_customer')) \
    .merge(df['rental'], on='customer_id', suffixes=('', '_rental')) \
    .merge(df['inventory'], on='inventory_id', suffixes=('', '_inventory')) \
    .merge(df['film'], on='film_id', suffixes=('', '_film')) \
    .merge(df['payment'], on='rental_id', suffixes=('', '_payment')) \
    .groupby(['city', 'title']).agg(
        total_revenue=('amount', 'sum')
    ).reset_index() \
    .sort_values(by='total_revenue', ascending=False) \
    .head(5)

conn.close()

print(top_filmler_sehir_bazinda)

                      city             title  total_revenue
10752          Probolinggo      MINDS TRUMAN          18.98
10565                Plock  CALIFORNIA BIRDS          18.98
6650                Kamyin    ROSES TREASURE          17.98
11854  Santa Brbara dOeste         WIFE TURN          17.98
3520                Datong      EAGLES PANKY          16.98

**Soru 38: En fazla kiralama yapan müşteri hangi filmleri kiralamış?  ==>  "SQL:  SELECT
    customer.first_name,
    customer.last_name,
    film.title,
    COUNT(rental.rental_id) AS rental_count
FROM
    customer
JOIN
    rental ON customer.customer_id = rental.customer_id
JOIN
    inventory ON rental.inventory_id = inventory.inventory_id
JOIN
    film ON inventory.film_id = film.film_id
JOIN
    film_category ON film.film_id = film_category.film_id
JOIN
    category ON film_category.category_id = category.category_id
WHERE
    customer.customer_id = (
        SELECT
            customer.customer_id
        FROM
            customer
        JOIN
            rental ON customer.customer_id = rental.customer_id
        GROUP BY
            customer.customer_id
        ORDER BY
            COUNT(rental.rental_id) DESC
        LIMIT 1
    )
GROUP BY
    film.title
ORDER BY
    rental_count DESC;
"**

In [ ]:
import pandas as pd
import sqlite3

conn = sqlite3.connect('sqlite-sakila.db')

df = {}
for table_name in ['customer', 'rental', 'inventory', 'film']:
    query = f"SELECT * FROM {table_name}"
    df[table_name] = pd.DataFrame(conn.execute(query).fetchall(),
                                  columns=[column[0] for column in conn.execute(query).description])
en_fazla_kiralama_yapan_musteri = df['customer'] \
    .merge(df['rental'], on='customer_id', suffixes=('', '_rental')) \
    .groupby('customer_id').agg(kiralama_sayisi=('rental_id', 'count')) \
    .reset_index() \
    .sort_values(by='kiralama_sayisi', ascending=False) \
    .head(1)

en_fazla_kiralama_yapan_musteri_filmler = en_fazla_kiralama_yapan_musteri \
    .merge(df['customer'], on='customer_id', suffixes=('', '_customer')) \
    .merge(df['rental'], on='customer_id', suffixes=('', '_rental')) \
    .merge(df['inventory'], on='inventory_id', suffixes=('', '_inventory')) \
    .merge(df['film'], on='film_id', suffixes=('', '_film')) \
    .groupby(['first_name', 'last_name', 'title']).agg(kiralama_sayisi=('rental_id', 'count')) \
    .reset_index() \
    .rename(columns={'first_name': 'ad', 'last_name': 'soyad', 'title': 'film_adı', 'kiralama_sayısı': 'kiralama_sayısı'}) \
    .sort_values(by='film_adı', ascending=False)

conn.close()

print("En Fazla Kiralama Yapan Müşteri Hangi Filmleri Kiralamış:")
print(en_fazla_kiralama_yapan_musteri_filmler)

En Fazla Kiralama Yapan Müşteri Hangi Filmleri Kiralamış:
         ad soyad             film_adı  kiralama_sayisi
45  ELEANOR  HUNT   WIZARD COLDBLOODED                1
44  ELEANOR  HUNT          WAR NOTTING                1
43  ELEANOR  HUNT            TRAP GUYS                1
42  ELEANOR  HUNT      SUN CONFESSIONS                1
41  ELEANOR  HUNT    STRICTLY SCARFACE                1
40  ELEANOR  HUNT  SPIRITED CASUALTIES                1
39  ELEANOR  HUNT           SOUTH WAIT                1
38  ELEANOR  HUNT   SOLDIERS EVOLUTION                1
37  ELEANOR  HUNT  SNATCHERS MONTEZUMA                1
36  ELEANOR  HUNT     SECRET GROUNDHOG                1
35  ELEANOR  HUNT   SCISSORHANDS SLUMS                1
34  ELEANOR  HUNT       ROBBERY BRIGHT                1
33  ELEANOR  HUNT       REMEMBER DIARY                1
32  ELEANOR  HUNT            RACER EGG                1
31  ELEANOR  HUNT          QUILLS BULL                1
30  ELEANOR  HUNT   PREJUDICE OLEANDER                1
29  ELEANOR  HUNT      PINOCCHIO SIMON                1
28  ELEANOR  HUNT         OUTLAW HANKY                1
27  ELEANOR  HUNT          OTHERS SOUP                1
26  ELEANOR  HUNT    OPPOSITE NECKLACE                1
25  ELEANOR  HUNT       NAME DETECTIVE                1
24  ELEANOR  HUNT       MUSIC BOONDOCK                1
23  ELEANOR  HUNT      MUMMY CREATURES                1
22  ELEANOR  HUNT         MINDS TRUMAN                1
21  ELEANOR  HUNT      MAJESTIC FLOATS                1
20  ELEANOR  HUNT       MADIGAN DORADO                1
19  ELEANOR  HUNT           LADY STAGE                1
18  ELEANOR  HUNT   INTERVIEW LIAISONS                1
17  ELEANOR  HUNT      HOLLOW JEOPARDY                1
16  ELEANOR  HUNT  HELLFIGHTERS SIERRA                1
15  ELEANOR  HUNT           GUN BONNIE                1
14  ELEANOR  HUNT        GRAFFITI LOVE                1
13  ELEANOR  HUNT    GABLES METROPOLIS                1
12  ELEANOR  HUNT       FORWARD TEMPLE                1
11  ELEANOR  HUNT         FAMILY SWEET                1
10  ELEANOR  HUNT     ENGLISH BULWORTH                1
9   ELEANOR  HUNT     EGYPT TENENBAUMS                1
8   ELEANOR  HUNT   DINOSAUR SECRETARY                1
7   ELEANOR  HUNT            COMA HEAD                1
6   ELEANOR  HUNT   COLOR PHILADELPHIA                1
5   ELEANOR  HUNT        BOULEVARD MOB                1
4   ELEANOR  HUNT    BIRD INDEPENDENCE                1
3   ELEANOR  HUNT      ARMAGEDDON LOST                1
2   ELEANOR  HUNT         ARIZONA BANG                1
1   ELEANOR  HUNT      AMERICAN CIRCUS                1
0   ELEANOR  HUNT     AFFAIR PREJUDICE                1

**Soru 40: En çok kazanç sağlayan müşteri hangi filmleri kiralamış?  ==>  "SQL: SELECT
    customer.first_name,
    customer.last_name,
    film.title,
    SUM(payment.amount) AS total_spent
FROM
    customer
JOIN
    rental ON customer.customer_id = rental.customer_id
JOIN
    inventory ON rental.inventory_id = inventory.inventory_id
JOIN
    film ON inventory.film_id = film.film_id
JOIN
    payment ON rental.rental_id = payment.rental_id
WHERE
    customer.customer_id = (
        SELECT
            customer.customer_id
        FROM
            customer
        JOIN
            rental ON customer.customer_id = rental.customer_id
        JOIN
            payment ON rental.rental_id = payment.rental_id
        GROUP BY
            customer.customer_id
        ORDER BY
            SUM(payment.amount) DESC
        LIMIT 1
    )
GROUP BY
    film.title
ORDER BY
    total_spent DESC;
"**

In [ ]:
import pandas as pd
import sqlite3

conn = sqlite3.connect('sqlite-sakila.db')

df = {}
for table_name in ['customer', 'rental', 'inventory', 'film', 'payment']:
    query = f"SELECT * FROM {table_name}"
    df[table_name] = pd.DataFrame(conn.execute(query).fetchall(),
                                  columns=[column[0] for column in conn.execute(query).description])

en_cok_kazanc_saglayan_musteri_id = df['customer'] \
    .merge(df['rental'], on='customer_id', how='inner', suffixes=('', '_rental')) \
    .merge(df['payment'], on='rental_id', how='inner', suffixes=('', '_payment')) \
    .groupby('customer_id').agg(total_income=('amount', 'sum')) \
    .reset_index() \
    .sort_values(by='total_income', ascending=False) \
    .head(1)['customer_id'].values[0]

en_cok_kazanc_filmler = df['customer'] \
    .query("customer_id == @en_cok_kazanc_saglayan_musteri_id") \
    .merge(df['rental'], on='customer_id', how='inner', suffixes=('', '_rental')) \
    .merge(df['inventory'], on='inventory_id', how='inner', suffixes=('', '_inventory')) \
    .merge(df['film'], on='film_id', how='inner', suffixes=('', '_film')) \
    .merge(df['payment'], on='rental_id', how='inner', suffixes=('', '_payment')) \
    .groupby('title').agg(total_spent=('amount', 'sum')) \
    .reset_index() \
    .sort_values(by='total_spent', ascending=False)

conn.close()

print("En Çok Kazanç Sağlayan Müşterinin Kiraladığı Filmler:")
print(en_cok_kazanc_filmler)

En Çok Kazanç Sağlayan Müşterinin Kiraladığı Filmler:
                    title  total_spent
12       FOOL MOCKINGBIRD        10.99
41         STING PERSONAL         9.99
42        TERMINATOR CLUB         8.99
29         PICKUP DRIVING         8.99
17            HIGH ENCINO         7.99
16     HEAVYWEIGHTS BEAST         7.99
23            MILLION ACE         7.99
24      MISSION ZOOLANDER         7.99
43         WEDDING APOLLO         7.98
25        MOONWALKER FOOL         6.99
1        BIKINI BORROWERS         6.99
21          MASSAGE IMAGE         6.99
20        LONELY ELEPHANT         6.99
10       ENGLISH BULWORTH         5.99
40               SPY MILE         5.99
28          PARIS WEEKEND         4.99
33        REAP UNFAITHFUL         4.99
34         REMEMBER DIARY         4.99
27       NOVOCAINE FLIGHT         4.99
0           BETRAYED REAR         4.99
13  FORRESTER COMANCHEROS         4.99
11         FIDELITY DEVIL         4.99
4          CYCLONE FAMILY         4.99
9            DURHAM PANKY         4.99
7        DESTINY SATURDAY         4.99
18               INCH JET         4.99
5              DATE SPEED         3.99
35    RIDGEMONT SUBMARINE         3.99
32              RACER EGG         2.99
2          BLUES INSTINCT         2.99
3     BRINGING HYSTERICAL         2.99
38             SLUMS DUCK         2.99
37       SINNERS ATLANTIS         2.99
22       METAL ARMAGEDDON         2.99
6            DESIRE ALIEN         2.99
31        QUEST MUSSOLINI         2.99
30         PRINCESS GIANT         2.99
26       MULHOLLAND BEAST         2.99
14            GANGS PRIDE         2.99
36         ROBBERY BRIGHT         1.99
15        GOLDMINE TYCOON         1.99
8              DUMBO LUST         0.99
39            SPLASH GUMP         0.99
19          INSECTS STONE         0.99

**Soru 41: En az kazanç sağlayan müşteri hangi filmleri kiralamış?   ==>  "SQL: SELECT
    customer.first_name,
    customer.last_name,
    film.title,
    SUM(payment.amount) AS total_spent
FROM
    customer
JOIN
    rental ON customer.customer_id = rental.customer_id
JOIN
    inventory ON rental.inventory_id = inventory.inventory_id
JOIN
    film ON inventory.film_id = film.film_id
JOIN
    payment ON rental.rental_id = payment.rental_id
WHERE
    customer.customer_id = (
        SELECT
            customer.customer_id
        FROM
            customer
        JOIN
            rental ON customer.customer_id = rental.customer_id
        JOIN
            payment ON rental.rental_id = payment.rental_id
        GROUP BY
            customer.customer_id
        ORDER BY
            SUM(payment.amount) ASC
        LIMIT 1
    )
GROUP BY
    film.title
ORDER BY
    total_spent ASC;
"**

In [ ]:
import pandas as pd
import sqlite3

# Veritabanı bağlantısı
conn = sqlite3.connect('sqlite-sakila.db')

# Tabloları veritabanından çekme
df = {}
for table_name in ['customer', 'rental', 'inventory', 'film', 'payment']:
    query = f"SELECT * FROM {table_name}"
    df[table_name] = pd.DataFrame(conn.execute(query).fetchall(),
                                  columns=[column[0] for column in conn.execute(query).description])

# En az kazanç sağlayan müşteri kim?
en_az_kazanc_saglayan_musteri_id = df['customer'] \
    .merge(df['rental'], on='customer_id', how='inner', suffixes=('', '_rental')) \
    .merge(df['payment'], on='rental_id', how='inner', suffixes=('', '_payment')) \
    .groupby('customer_id').agg(total_income=('amount', 'sum')) \
    .reset_index() \
    .sort_values(by='total_income') \
    .head(1)['customer_id'].values[0]

# Bu müşterinin kiraladığı filmleri bulma
en_az_kazanc_filmler = df['customer'] \
    .query("customer_id == @en_az_kazanc_saglayan_musteri_id") \
    .merge(df['rental'], on='customer_id', how='inner', suffixes=('', '_rental')) \
    .merge(df['inventory'], on='inventory_id', how='inner', suffixes=('', '_inventory')) \
    .merge(df['film'], on='film_id', how='inner', suffixes=('', '_film')) \
    .merge(df['payment'], on='rental_id', how='inner', suffixes=('', '_payment')) \
    .groupby('title').agg(total_spent=('amount', 'sum')) \
    .reset_index() \
    .sort_values(by='total_spent', ascending=True)

conn.close()

print("En Az Kazanç Sağlayan Müşterinin Kiraladığı Filmler:")
print(en_az_kazanc_filmler)

En Az Kazanç Sağlayan Müşterinin Kiraladığı Filmler:
                     title  total_spent
0          ARMAGEDDON LOST         0.99
1         CAMELOT VACATION         0.99
3         EMPIRE MALKOVICH         0.99
7          ILLUSION AMELIE         0.99
12  RESURRECTION SILVERADO         0.99
13             TEXAS WATCH         0.99
9               JADE BUNCH         2.99
10         KILLER INNOCENT         2.99
11              MASK PEACH         3.99
5        GOODFELLAS SALUTE         4.99
6        HOOSIERS BIRDCAGE         4.99
14         WHISPERER GIANT         4.99
2          DISCIPLE MOTHER         5.99
8     IMPOSSIBLE PREJUDICE         5.99
4           FRENCH HOLIDAY         7.99

**Soru 42: En az kazanç sağlayan müşteri hangi türde en fazla film kiralamış?  ==>  "SQL:  SELECT
    customer.first_name,
    customer.last_name,
    category.name AS genre,
    COUNT(rental.rental_id) AS rental_count
FROM
    customer
JOIN
    rental ON customer.customer_id = rental.customer_id
JOIN
    inventory ON rental.inventory_id = inventory.inventory_id
JOIN
    film ON inventory.film_id = film.film_id
JOIN
    film_category ON film.film_id = film_category.film_id
JOIN
    category ON film_category.category_id = category.category_id
WHERE
    customer.customer_id = (
        SELECT
            customer.customer_id
        FROM
            customer
        JOIN
            rental ON customer.customer_id = rental.customer_id
        JOIN
            payment ON rental.rental_id = payment.rental_id
        GROUP BY
            customer.customer_id
        ORDER BY
            SUM(payment.amount) ASC
        LIMIT 1
    )
GROUP BY
    category.name
ORDER BY
    rental_count DESC
LIMIT 1;
 "**

In [ ]:
import pandas as pd
import sqlite3

# Veritabanı bağlantısı
conn = sqlite3.connect('sqlite-sakila.db')

# Tabloları veritabanından çekme
df = {}
for table_name in ['customer', 'rental', 'inventory', 'film', 'film_category', 'category', 'payment']:
    query = f"SELECT * FROM {table_name}"
    df[table_name] = pd.DataFrame(conn.execute(query).fetchall(),
                                  columns=[column[0] for column in conn.execute(query).description])

# En az kazanç sağlayan müşteri kim?
en_az_kazanc_saglayan_musteri_id = df['customer'] \
    .merge(df['rental'], on='customer_id', how='inner') \
    .merge(df['payment'], on='rental_id', how='inner')

# Sütunları kontrol et
print("En az kazanç sağlayan müşteri sonrası DataFrame sütunları:")
print(en_az_kazanc_saglayan_musteri_id.columns)

# Toplam kazancı hesapla
en_az_kazanc_musteri = en_az_kazanc_saglayan_musteri_id \
    .groupby('customer_id_x').agg(total_income=('amount', 'sum')) \
    .reset_index() \
    .sort_values(by='total_income') \
    .head(1)['customer_id_x'].values[0]

# Bu müşterinin en fazla hangi türde film kiraladığını bulma
en_fazla_kiralama_turu = df['customer'] \
    .query("customer_id == @en_az_kazanc_musteri") \
    .merge(df['rental'], on='customer_id', how='inner', suffixes=('', '_rental')) \
    .merge(df['inventory'], on='inventory_id', how='inner', suffixes=('', '_inventory')) \
    .merge(df['film'], on='film_id', how='inner', suffixes=('', '_film')) \
    .merge(df['film_category'], on='film_id', how='inner', suffixes=('', '_film_category')) \
    .merge(df['category'], on='category_id', how='inner', suffixes=('', '_category')) \
    .groupby('name').agg(rental_count=('rental_id', 'count')) \
    .reset_index() \
    .sort_values(by='rental_count', ascending=False) \
    .head(1)

conn.close()

print("En Az Kazanç Sağlayan Müşteri Hangi Türde En Fazla Film Kiralamış:")
print(en_fazla_kiralama_turu)

En az kazanç sağlayan müşteri sonrası DataFrame sütunları:
Index(['customer_id_x', 'store_id', 'first_name', 'last_name', 'email',
       'address_id', 'active', 'create_date', 'last_update_x', 'rental_id',
       'rental_date', 'inventory_id', 'return_date', 'staff_id_x',
       'last_update_y', 'payment_id', 'customer_id_y', 'staff_id_y', 'amount',
       'payment_date', 'last_update'],
      dtype='object')
En Az Kazanç Sağlayan Müşteri Hangi Türde En Fazla Film Kiralamış:
     name  rental_count
6  Sci-Fi             4

**Soru 43: En çok kiralanan film hangi çalışan tarafından kiralanmış?  ==>  "SQL: SELECT
    staff.first_name,
    staff.last_name,
    film.title,
    COUNT(rental.rental_id) AS rental_count
FROM
    staff
JOIN
    rental ON staff.staff_id = rental.staff_id
JOIN
    inventory ON rental.inventory_id = inventory.inventory_id
JOIN
    film ON inventory.film_id = film.film_id
WHERE
    film.film_id = (
        SELECT
            film.film_id
        FROM
            film
        JOIN
            inventory ON film.film_id = inventory.film_id
        JOIN
            rental ON inventory.inventory_id = rental.inventory_id
        GROUP BY
            film.film_id
        ORDER BY
            COUNT(rental.rental_id) DESC
        LIMIT 1
    )
GROUP BY
    staff.first_name,
    staff.last_name,
    film.title;
"**

In [ ]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('sqlite-sakila.db')

df = {}
for table_name in ['staff', 'rental', 'inventory', 'film']:
    query = f"SELECT * FROM {table_name}"
    df[table_name] = pd.DataFrame(conn.execute(query).fetchall(), columns=[column[0] for column in conn.execute(query).description])

en_cok_kiralanan_film = df['film'] \
    .merge(df['inventory'], on='film_id') \
    .merge(df['rental'], on='inventory_id') \
    .groupby('film_id').agg(kiralama_sayisi=('rental_id', 'count')) \
    .reset_index() \
    .sort_values(by='kiralama_sayisi', ascending=False) \
    .head(1)

en_cok_kiralanan_film_calisan = en_cok_kiralanan_film \
    .merge(df['inventory'], on='film_id', suffixes=('_film', '_inventory')) \
    .merge(df['rental'], on='inventory_id', suffixes=('_inventory', '_rental')) \
    .merge(df['staff'], on='staff_id', suffixes=('_rental', '_staff')) \
    .merge(df['film'], on='film_id', suffixes=('_staff', '_film')) \
    .groupby(['first_name', 'last_name', 'title']).agg(kiralama_sayisi=('rental_id', 'count')) \
    .reset_index() \
    .rename(columns={'first_name': 'ad', 'last_name': 'soyad', 'title': 'film_adı', 'kiralama_sayisi': 'kiralama_sayısı'})

conn.close()

print("En Çok Kiralanan Filmi Kiralayan Çalışan:")
print(en_cok_kiralanan_film_calisan)

En Çok Kiralanan Filmi Kiralayan Çalışan:
     ad     soyad            film_adı  kiralama_sayısı
0   Jon  Stephens  BUCKET BROTHERHOOD               18
1  Mike   Hillyer  BUCKET BROTHERHOOD               16

**Soru 44: En az kiralanan film hangi çalışan tarafından kiralanmış?  ==>  "SQL: SELECT
    staff.first_name,
    staff.last_name,
    film.title,
    SUM(payment.amount) AS total_revenue
FROM
    staff
JOIN
    rental ON staff.staff_id = rental.staff_id
JOIN
    inventory ON rental.inventory_id = inventory.inventory_id
JOIN
    film ON inventory.film_id = film.film_id
JOIN
    payment ON rental.rental_id = payment.rental_id
WHERE
    film.film_id = (
        SELECT
            film.film_id
        FROM
            film
        JOIN
            inventory ON film.film_id = inventory.film_id
        JOIN
            rental ON inventory.inventory_id = rental.inventory_id
        JOIN
            payment ON rental.rental_id = payment.rental_id
        GROUP BY
            film.film_id
        ORDER BY
            SUM(payment.amount) DESC
        LIMIT 1
    )
GROUP BY
    staff.first_name, staff.last_name, film.title;
"**

In [ ]:
import pandas as pd
import sqlite3

conn = sqlite3.connect('sqlite-sakila.db')

df = {}
for table_name in ['staff', 'rental', 'inventory', 'film', 'payment']:
    query = f"SELECT * FROM {table_name}"
    df[table_name] = pd.DataFrame(conn.execute(query).fetchall(),
                                  columns=[column[0] for column in conn.execute(query).description])

en_cok_gelir_getiren_film = df['film'] \
    .merge(df['inventory'], on='film_id', suffixes=('', '_inventory')) \
    .merge(df['rental'], on='inventory_id', suffixes=('', '_rental')) \
    .merge(df['payment'], on='rental_id', suffixes=('', '_payment')) \
    .groupby('film_id').agg(total_gelir=('amount', 'sum')) \
    .reset_index() \
    .sort_values(by='total_gelir', ascending=False) \
    .head(1)

en_cok_gelir_getiren_film_personel = df['staff'] \
    .merge(df['rental'], on='staff_id', suffixes=('', '_rental')) \
    .merge(df['inventory'], on='inventory_id', suffixes=('', '_inventory')) \
    .merge(df['film'], on='film_id', suffixes=('', '_film')) \
    .merge(df['payment'], on='rental_id', suffixes=('', '_payment')) \
    .loc[lambda x: x['film_id'] == en_cok_gelir_getiren_film['film_id'].values[0]] \
    .groupby(['first_name', 'last_name', 'title']).agg(total_revenue=('amount', 'sum')) \
    .reset_index()

conn.close()

print("En Çok Gelir Getiren Film ve Personel Bilgileri:")
print(en_cok_gelir_getiren_film_personel)

En Çok Gelir Getiren Film ve Personel Bilgileri:
  first_name last_name             title  total_revenue
0        Jon  Stephens  TELEGRAPH VOYAGE         147.83
1       Mike   Hillyer  TELEGRAPH VOYAGE          83.90

**Soru 45: En çok kazanç sağlayan film hangi çalışan tarafından kiralanmış?  ==>  "SQL: SELECT
    staff.first_name,
    staff.last_name,
    film.title,
    SUM(payment.amount) AS total_revenue
FROM
    staff
JOIN
    rental ON staff.staff_id = rental.staff_id
JOIN
    inventory ON rental.inventory_id = inventory.inventory_id
JOIN
    film ON inventory.film_id = film.film_id
JOIN
    payment ON rental.rental_id = payment.rental_id
WHERE
    film.film_id = (
        SELECT
            film.film_id
        FROM
            film
        JOIN
            inventory ON film.film_id = inventory.film_id
        JOIN
            rental ON inventory.inventory_id = rental.inventory_id
        JOIN
            payment ON rental.rental_id = payment.rental_id
        GROUP BY
            film.film_id
        ORDER BY
            SUM(payment.amount) DESC
        LIMIT 1
    )
GROUP BY
    staff.first_name, staff.last_name, film.title;
"**

In [ ]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('sqlite-sakila.db')

df = {}
for table_name in ['staff', 'rental', 'inventory', 'film', 'payment', 'store']:
    query = f"SELECT * FROM {table_name}"
    df[table_name] = pd.DataFrame(conn.execute(query).fetchall(),
                                  columns=[column[0] for column in conn.execute(query).description])

film_id_en_cok_kazanc = df['film'] \
    .merge(df['inventory'], on='film_id', suffixes=('', '_inv')) \
    .merge(df['rental'], on='inventory_id', suffixes=('', '_rental')) \
    .merge(df['payment'], on='rental_id', suffixes=('', '_payment')) \
    .groupby('film_id')['amount'].sum().idxmax()

en_cok_kazanc_saglayan_film_calisan = df['staff'] \
    .merge(df['rental'], on='staff_id', suffixes=('', '_rental')) \
    .merge(df['inventory'], on='inventory_id', suffixes=('', '_inv')) \
    .merge(df['film'], on='film_id', suffixes=('', '_film')) \
    .merge(df['payment'], on='rental_id', suffixes=('', '_payment')) \
    .loc[lambda x: x['film_id'] == film_id_en_cok_kazanc] \
    .groupby(['first_name', 'last_name', 'title']) \
    .agg(toplam_gelir=('amount', 'sum')) \
    .reset_index() \
    .rename(columns={'first_name': 'ad', 'last_name': 'soyad', 'title': 'film_adı', 'toplam_gelir': 'toplam_gelir'})

print(en_cok_kazanc_saglayan_film_calisan)

conn.close()

     ad     soyad          film_adı  toplam_gelir
0   Jon  Stephens  TELEGRAPH VOYAGE        147.83
1  Mike   Hillyer  TELEGRAPH VOYAGE         83.90

**Soru 46: En az kazanç sağlayan film hangi çalışan tarafından kiralanmış?  ==>  "SQL:
SELECT
    staff.first_name,
    staff.last_name,
    film.title,
    SUM(payment.amount) AS total_revenue
FROM
    staff
JOIN
    rental ON staff.staff_id = rental.staff_id
JOIN
    inventory ON rental.inventory_id = inventory.inventory_id
JOIN
    film ON inventory.film_id = film.film_id
JOIN
    payment ON rental.rental_id = payment.rental_id
WHERE
    film.film_id = (
        SELECT
            film.film_id
        FROM
            film
        JOIN
            inventory ON film.film_id = inventory.film_id
        JOIN
            rental ON inventory.inventory_id = rental.inventory_id
        JOIN
            payment ON rental.rental_id = payment.rental_id
        GROUP BY
            film.film_id
        ORDER BY
            SUM(payment.amount) ASC
        LIMIT 1
    )
GROUP BY
    staff.first_name, staff.last_name, film.title;
"**

In [ ]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('sqlite-sakila.db')

df = {}
for table_name in ['staff', 'rental', 'inventory', 'film', 'payment', 'store']:
    query = f"SELECT * FROM {table_name}"
    df[table_name] = pd.DataFrame(conn.execute(query).fetchall(),
                                  columns=[column[0] for column in conn.execute(query).description])

film_id_en_az_kazanc = df['film'] \
    .merge(df['inventory'], on='film_id', suffixes=('', '_inv')) \
    .merge(df['rental'], on='inventory_id', suffixes=('', '_rental')) \
    .merge(df['payment'], on='rental_id', suffixes=('', '_payment')) \
    .groupby('film_id')['amount'].sum().idxmin()

en_az_kazanc_saglayan_film_calisan = df['staff'] \
    .merge(df['rental'], on='staff_id', suffixes=('', '_rental')) \
    .merge(df['inventory'], on='inventory_id', suffixes=('', '_inv')) \
    .merge(df['film'], on='film_id', suffixes=('', '_film')) \
    .merge(df['payment'], on='rental_id', suffixes=('', '_payment')) \
    .loc[lambda x: x['film_id'] == film_id_en_az_kazanc] \
    .groupby(['first_name', 'last_name', 'title']) \
    .agg(toplam_gelir=('amount', 'sum')) \
    .reset_index() \
    .rename(columns={'first_name': 'ad', 'last_name': 'soyad', 'title': 'film_adı', 'toplam_gelir': 'toplam_gelir'})

print(en_az_kazanc_saglayan_film_calisan)

conn.close()

     ad     soyad          film_adı  toplam_gelir
0   Jon  Stephens  OKLAHOMA JUMANJI          1.98
1  Mike   Hillyer  OKLAHOMA JUMANJI          3.96

**Soru 47: En çok kiralanan film hangi mağazada kiralanmış?  ==>  "SQL:
SELECT
    store.store_id,
    film.title,
    COUNT(rental.rental_id) AS rental_count
FROM
    store
JOIN
    staff ON store.store_id = staff.store_id
JOIN
    rental ON staff.staff_id = rental.staff_id
JOIN
    inventory ON rental.inventory_id = inventory.inventory_id
JOIN
    film ON inventory.film_id = film.film_id
WHERE
    film.film_id = (
        SELECT
            film.film_id
        FROM
            film
        JOIN
            inventory ON film.film_id = inventory.film_id
        JOIN
            rental ON inventory.inventory_id = rental.inventory_id
        GROUP BY
            film.film_id
        ORDER BY
            COUNT(rental.rental_id) DESC
        LIMIT 1
    )
GROUP BY
    store.store_id, film.title;"**

In [ ]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('sqlite-sakila.db')

df = {}
for table_name in ['staff', 'rental', 'inventory', 'film', 'payment', 'store']:
    query = f"SELECT * FROM {table_name}"
    df[table_name] = pd.DataFrame(conn.execute(query).fetchall(),
                                  columns=[column[0] for column in conn.execute(query).description])

film_id_en_cok_kiralanan = df['film'] \
    .merge(df['inventory'], on='film_id', suffixes=('', '_inv')) \
    .merge(df['rental'], on='inventory_id', suffixes=('', '_rental')) \
    .groupby('film_id')['rental_id'].count().idxmax()

en_cok_kiralanan_film_magaza = df['store'] \
    .merge(df['staff'], on='store_id', suffixes=('', '_staff')) \
    .merge(df['rental'], on='staff_id', suffixes=('', '_rental')) \
    .merge(df['inventory'], on='inventory_id', suffixes=('', '_inv')) \
    .merge(df['film'], on='film_id', suffixes=('', '_film')) \
    .loc[lambda x: x['film_id'] == film_id_en_cok_kiralanan] \
    .groupby(['store_id', 'title']) \
    .agg(kiralama_sayisi=('rental_id', 'count')) \
    .reset_index() \
    .rename(columns={'store_id': 'magaza_id', 'title': 'film_adı', 'kiralama_sayisi': 'kiralama_sayısı'})

print(en_cok_kiralanan_film_magaza)

conn.close()

   magaza_id            film_adı  kiralama_sayısı
0          1  BUCKET BROTHERHOOD               16
1          2  BUCKET BROTHERHOOD               18

**Soru 48: En az kiralanan film hangi mağazada kiralanmış?  ==>  "SQL:
SELECT
    store.store_id,
    film.title,
    COUNT(rental.rental_id) AS rental_count
FROM
    store
JOIN
    staff ON store.store_id = staff.store_id
JOIN
    rental ON staff.staff_id = rental.staff_id
JOIN
    inventory ON rental.inventory_id = inventory.inventory_id
JOIN
    film ON inventory.film_id = film.film_id
WHERE
    film.film_id = (
        SELECT
            film.film_id
        FROM
            film
        JOIN
            inventory ON film.film_id = inventory.film_id
        JOIN
            rental ON inventory.inventory_id = rental.inventory_id
        GROUP BY
            film.film_id
        ORDER BY
            COUNT(rental.rental_id) ASC
        LIMIT 1
    )
GROUP BY
    store.store_id, film.title;
"**

In [ ]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('sqlite-sakila.db')

df = {}
for table_name in ['staff', 'rental', 'inventory', 'film', 'payment', 'store']:
    query = f"SELECT * FROM {table_name}"
    df[table_name] = pd.DataFrame(conn.execute(query).fetchall(),
                                  columns=[column[0] for column in conn.execute(query).description])

film_id_en_az_kiralanan = df['film'] \
    .merge(df['inventory'], on='film_id', suffixes=('', '_inv')) \
    .merge(df['rental'], on='inventory_id', suffixes=('', '_rental')) \
    .groupby('film_id')['rental_id'].count().idxmin()

en_az_kiralanan_film_magaza = df['store'] \
    .merge(df['staff'], on='store_id', suffixes=('', '_staff')) \
    .merge(df['rental'], on='staff_id', suffixes=('', '_rental')) \
    .merge(df['inventory'], on='inventory_id', suffixes=('', '_inv')) \
    .merge(df['film'], on='film_id', suffixes=('', '_film')) \
    .loc[lambda x: x['film_id'] == film_id_en_az_kiralanan] \
    .groupby(['store_id', 'title']) \
    .agg(kiralama_sayisi=('rental_id', 'count')) \
    .reset_index() \
    .rename(columns={'store_id': 'magaza_id', 'title': 'film_adı', 'kiralama_sayisi': 'kiralama_sayısı'})

print(en_az_kiralanan_film_magaza)

conn.close()

   magaza_id        film_adı  kiralama_sayısı
0          1  HARDLY ROBBERS                1
1          2  HARDLY ROBBERS                3

**Soru 49: En çok kazanç sağlayan film hangi mağazada kiralanmış?  ==>  "SQL:
SELECT
    store.store_id,
    film.title,
    SUM(payment.amount) AS total_revenue
FROM
    store
JOIN
    staff ON store.store_id = staff.store_id
JOIN
    rental ON staff.staff_id = rental.staff_id
JOIN
    inventory ON rental.inventory_id = inventory.inventory_id
JOIN
    film ON inventory.film_id = film.film_id
JOIN
    payment ON rental.rental_id = payment.rental_id
WHERE
    film.film_id = (
        SELECT
            film.film_id
        FROM
            film
        JOIN
            inventory ON film.film_id = inventory.film_id
        JOIN
            rental ON inventory.inventory_id = rental.inventory_id
        JOIN
            payment ON rental.rental_id = payment.rental_id
        GROUP BY
            film.film_id
        ORDER BY
            SUM(payment.amount) DESC
        LIMIT 1
    )
GROUP BY
    store.store_id, film.title;
"**

In [ ]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('sqlite-sakila.db')

df = {}
for table_name in ['staff', 'rental', 'inventory', 'film', 'payment', 'store']:
    query = f"SELECT * FROM {table_name}"
    df[table_name] = pd.DataFrame(conn.execute(query).fetchall(),
                                  columns=[column[0] for column in conn.execute(query).description])

film_id_en_cok_kazanc = df['film'] \
    .merge(df['inventory'], on='film_id', suffixes=('', '_inv')) \
    .merge(df['rental'], on='inventory_id', suffixes=('', '_rental')) \
    .merge(df['payment'], on='rental_id', suffixes=('', '_payment')) \
    .groupby('film_id')['amount'].sum().idxmax()

en_cok_kazanc_saglayan_film_magaza = df['store'] \
    .merge(df['staff'], on='store_id', suffixes=('', '_staff')) \
    .merge(df['rental'], on='staff_id', suffixes=('', '_rental')) \
    .merge(df['inventory'], on='inventory_id', suffixes=('', '_inv')) \
    .merge(df['film'], on='film_id', suffixes=('', '_film')) \
    .merge(df['payment'], on='rental_id', suffixes=('', '_payment')) \
    .loc[lambda x: x['film_id'] == film_id_en_cok_kazanc] \
    .groupby(['store_id', 'title']) \
    .agg(toplam_gelir=('amount', 'sum')) \
    .reset_index() \
    .rename(columns={'store_id': 'magaza_id', 'title': 'film_adı', 'toplam_gelir': 'toplam_gelir'})

print(en_cok_kazanc_saglayan_film_magaza)

conn.close()

   magaza_id          film_adı  toplam_gelir
0          1  TELEGRAPH VOYAGE         83.90
1          2  TELEGRAPH VOYAGE        147.83

**Soru 50: En az kazanç sağlayan film hangi mağazada kiralanmış?  ==>  "SQL:
SELECT
    store.store_id,
    film.title,
    SUM(payment.amount) AS total_revenue
FROM
    store
JOIN
    staff ON store.store_id = staff.store_id
JOIN
    rental ON staff.staff_id = rental.staff_id
JOIN
    inventory ON rental.inventory_id = inventory.inventory_id
JOIN
    film ON inventory.film_id = film.film_id
JOIN
    payment ON rental.rental_id = payment.rental_id
WHERE
    film.film_id = (
        SELECT
            film.film_id
        FROM
            film
        JOIN
            inventory ON film.film_id = inventory.film_id
        JOIN
            rental ON inventory.inventory_id = rental.inventory_id
        JOIN
            payment ON rental.rental_id = payment.rental_id
        GROUP BY
            film.film_id
        ORDER BY
            SUM(payment.amount) ASC
        LIMIT 1
    )
GROUP BY
    store.store_id, film.title;
"**

In [ ]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('sqlite-sakila.db')

df = {}
for table_name in ['staff', 'rental', 'inventory', 'film', 'payment', 'store']:
    query = f"SELECT * FROM {table_name}"
    df[table_name] = pd.DataFrame(conn.execute(query).fetchall(),
                                  columns=[column[0] for column in conn.execute(query).description])

film_id_en_az_kazanc = df['film'] \
    .merge(df['inventory'], on='film_id', suffixes=('', '_inv')) \
    .merge(df['rental'], on='inventory_id', suffixes=('', '_rental')) \
    .merge(df['payment'], on='rental_id', suffixes=('', '_payment')) \
    .groupby('film_id')['amount'].sum().idxmin()

en_az_kazanc_saglayan_film_magaza = df['store'] \
    .merge(df['staff'], on='store_id', suffixes=('', '_staff')) \
    .merge(df['rental'], on='staff_id', suffixes=('', '_rental')) \
    .merge(df['inventory'], on='inventory_id', suffixes=('', '_inv')) \
    .merge(df['film'], on='film_id', suffixes=('', '_film')) \
    .merge(df['payment'], on='rental_id', suffixes=('', '_payment')) \
    .loc[lambda x: x['film_id'] == film_id_en_az_kazanc] \
    .groupby(['store_id', 'title']) \
    .agg(toplam_gelir=('amount', 'sum')) \
    .reset_index() \
    .rename(columns={'store_id': 'magaza_id', 'title': 'film_adı', 'toplam_gelir': 'toplam_gelir'})

print(en_az_kazanc_saglayan_film_magaza)

conn.close()

   magaza_id          film_adı  toplam_gelir
0          1  OKLAHOMA JUMANJI          3.96
1          2  OKLAHOMA JUMANJI          1.98

**Soru 51: Müşterilerin kiraladıkları filmlerin toplam kiralama süresi ne kadar?  ==>  "SQL: SELECT
    customer.first_name,
    customer.last_name,
    SUM(julianday(rental.return_date) - julianday(rental.rental_date)) AS total_rental_duration
FROM
    customer
JOIN
    rental ON customer.customer_id = rental.customer_id
GROUP BY
    customer.first_name, customer.last_name;
"**

In [ ]:
import sqlite3
import pandas as pd

# SQLite veritabanına bağlan
conn = sqlite3.connect('sqlite-sakila.db')

# Tabloları çek ve DataFrame olarak sakla
df = {}
for table_name in ['customer', 'rental']:
    query = f"SELECT * FROM {table_name}"
    df[table_name] = pd.DataFrame(conn.execute(query).fetchall(),
                                  columns=[column[0] for column in conn.execute(query).description])

# Tarih sütunlarını datetime formatına dönüştür
df['rental']['rental_date'] = pd.to_datetime(df['rental']['rental_date'])
df['rental']['return_date'] = pd.to_datetime(df['rental']['return_date'])

# SQL sorgusunu uygula
toplam_kiralama_suresi = df['customer'] \
    .merge(df['rental'], on='customer_id') \
    .groupby(['first_name', 'last_name']) \
    .agg(total_rental_duration=('rental_id', lambda x: (df['rental']['return_date'][x.index] - df['rental']['rental_date'][x.index]).sum().days)) \
    .reset_index()

# Sonucu yazdır
print("\nToplam Kiralama Süresi (gün):")
print(toplam_kiralama_suresi)

# Veritabanı bağlantısını kapat
conn.close()

Toplam Kiralama Süresi (gün):
    first_name last_name  total_rental_duration
0        AARON     SELBY                    121
1         ADAM     GOOCH                    102
2       ADRIAN     CLARY                     95
3        AGNES    BISHOP                     96
4         ALAN      KAHN                    128
..         ...       ...                    ...
594     WILLIE   MARKHAM                    136
595      WILMA  RICHARDS                     95
596    YOLANDA    WEAVER                    135
597     YVONNE   WATKINS                    112
598    ZACHARY      HITE                    146

[599 rows x 3 columns]

**Soru 52: En çok kiralanan türdeki filmler hangileri?  ==>  "SQL:
SELECT category.name AS genre, film.title, COUNT(rental.rental_id) AS rental_count FROM film
JOIN film_category ON film.film_id
-
film_category.film_id
=
category.category_id
JOIN category ON film_category.category_id
JOIN inventory ON film.film_id = inventory.film_id
JOIN rental ON inventory.inventory_id = rental.inventory_id
GROUP BY genre, film.title
ORDER BY rental_count DESC
LIMIT 1;"**

In [ ]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('sqlite-sakila.db')

df = {}
for table_name in ['staff', 'rental', 'inventory', 'film', 'payment', 'store', 'customer', 'category', 'film_category']:
    query = f"SELECT * FROM {table_name}"
    df[table_name] = pd.DataFrame(conn.execute(query).fetchall(),
                                  columns=[column[0] for column in conn.execute(query).description])

en_cok_kiralanan_tur = df['film'] \
    .merge(df['film_category'], on='film_id', suffixes=('', '_fc')) \
    .merge(df['category'], on='category_id', suffixes=('', '_c')) \
    .merge(df['inventory'], on='film_id', suffixes=('', '_inv')) \
    .merge(df['rental'], on='inventory_id', suffixes=('', '_r')) \
    .groupby(['name', 'title']) \
    .agg(kiralama_sayısı=('rental_id', 'count')) \
    .reset_index() \
    .sort_values(by='kiralama_sayısı', ascending=False) \
    .head(1)

print("\nEn Çok Kiralanan Türdeki Film:")
print(en_cok_kiralanan_tur)

conn.close()

En Çok Kiralanan Türdeki Film:
       name               title  kiralama_sayısı
909  Travel  BUCKET BROTHERHOOD               34

**Soru 53: En az kiralanan türdeki filmler hangileri?  ==>  "SQL:
SELECT
    category.name AS genre,
    film.title,
    COUNT(rental.rental_id) AS rental_count
FROM
    film
JOIN
    film_category ON film.film_id = film_category.film_id
JOIN
    category ON film_category.category_id = category.category_id
JOIN
    inventory ON film.film_id = inventory.film_id
JOIN
    rental ON inventory.inventory_id = rental.inventory_id
GROUP BY
    genre, film.title
ORDER BY
    rental_count ASC
LIMIT 1;
"**

In [ ]:
import sqlite3
import pandas as pd

# SQLite veritabanına bağlan
conn = sqlite3.connect('sqlite-sakila.db')

# Gerekli tabloları çek ve DataFrame olarak sakla
df = {}
for table_name in ['film', 'film_category', 'category', 'inventory', 'rental']:
    query = f"SELECT * FROM {table_name}"
    df[table_name] = pd.DataFrame(conn.execute(query).fetchall(),
                                  columns=[column[0] for column in conn.execute(query).description])

# DataFrame'ler arasında birleşim yap
result = df['film'] \
    .merge(df['film_category'], on='film_id', suffixes=('', '_fc')) \
    .merge(df['category'], on='category_id', suffixes=('', '_c')) \
    .merge(df['inventory'], on='film_id', suffixes=('', '_inv')) \
    .merge(df['rental'], on='inventory_id', suffixes=('', '_r')) \
    .groupby(['name', 'title']) \
    .agg(rental_count=('rental_id', 'count')) \
    .reset_index() \
    .rename(columns={'name': 'genre'}) \
    .sort_values(by='rental_count', ascending=True) \
    .head(1)

# Sonucu yazdır
print("En Az Kiralanan Film:")
print(result)

# Veritabanı bağlantısını kapat
conn.close()

En Az Kiralanan Film:
           genre           title  rental_count
315  Documentary  HARDLY ROBBERS             4

**Soru 54: Her müşteri için toplam ödeme miktarını bulun.  ==>  "SQL:
SELECT
    customer.first_name,
    customer.last_name,
    SUM(payment.amount) AS total_payment
FROM
    customer
JOIN
    rental ON customer.customer_id = rental.customer_id
JOIN
    payment ON rental.rental_id = payment.rental_id
GROUP BY
    customer.first_name, customer.last_name;
"**

In [ ]:
import sqlite3
import pandas as pd


conn = sqlite3.connect('sqlite-sakila.db')

df = {}
for table_name in ['staff', 'rental', 'inventory', 'film', 'payment', 'store', 'customer', 'category', 'film_category']:
    query = f"SELECT * FROM {table_name}"
    df[table_name] = pd.DataFrame(conn.execute(query).fetchall(),
                                  columns=[column[0] for column in conn.execute(query).description])

toplam_odeme = df['customer'] \
    .merge(df['rental'], on='customer_id') \
    .merge(df['payment'], on='rental_id') \
    .groupby(['first_name', 'last_name']) \
    .agg(toplam_odeme=('amount', 'sum')) \
    .reset_index()

print("\nHer Müşteri için Toplam Ödeme Miktarı:")
print(toplam_odeme)

conn.close()

Her Müşteri için Toplam Ödeme Miktarı:
    first_name last_name  toplam_odeme
0        AARON     SELBY        110.76
1         ADAM     GOOCH        101.78
2       ADRIAN     CLARY         74.81
3        AGNES    BISHOP         98.77
4         ALAN      KAHN        124.74
..         ...       ...           ...
594     WILLIE   MARKHAM        101.75
595      WILMA  RICHARDS         91.80
596    YOLANDA    WEAVER        110.73
597     YVONNE   WATKINS         92.79
598    ZACHARY      HITE        146.69

[599 rows x 3 columns]

**Soru 55: Hangi filmler en uzun süre kiralanmış?  ==>  "SQL: SELECT
    film.title,
    MAX(julianday(rental.return_date) - julianday(rental.rental_date)) AS max_rental_days
FROM
    film
JOIN
    inventory ON film.film_id = inventory.film_id
JOIN
    rental ON inventory.inventory_id = rental.inventory_id
GROUP BY
    film.title
ORDER BY
    max_rental_days DESC;
"**

In [ ]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('sqlite-sakila.db')

df = {}
for table_name in ['film', 'inventory', 'rental']:
    query = f"SELECT * FROM {table_name}"
    df[table_name] = pd.DataFrame(conn.execute(query).fetchall(),
                                  columns=[column[0] for column in conn.execute(query).description])

df['rental']['rental_date'] = pd.to_datetime(df['rental']['rental_date'])
df['rental']['return_date'] = pd.to_datetime(df['rental']['return_date'])

result = df['film'] \
    .merge(df['inventory'], on='film_id') \
    .merge(df['rental'], on='inventory_id') \
    .groupby('title') \
    .agg(max_rental_days=('rental_id', lambda x: (df['rental']['return_date'][x.index] - df['rental']['rental_date'][x.index]).max().days)) \
    .reset_index() \
    .sort_values(by='max_rental_days', ascending=False)

print("Film Başlığı ve Maksimum Kiralama Süresi (Gün):")
print(result)

conn.close()

Film Başlığı ve Maksimum Kiralama Süresi (Gün):
                       title  max_rental_days
0           ACADEMY DINOSAUR                9
589           NATIONAL STORY                9
557        MISSION ZOOLANDER                9
559               MOB DUFFEL                9
560    MOCKINGBIRD HOLLYWOOD                9
..                       ...              ...
341              GLORY TRACY                5
280  EXTRAORDINARY CONQUERER                5
378           HARDLY ROBBERS                4
446         ISHTAR ROCKETEER                4
451             JAPANESE RUN                3

[958 rows x 2 columns]

**Soru 56: Hangi filmler en kısa süre kiralanmış?  ==>  "SQL: SELECT
    film.title,
    MIN(julianday(rental.return_date) - julianday(rental.rental_date)) AS min_rental_days
FROM
    film
JOIN
    inventory ON film.film_id = inventory.film_id
JOIN
    rental ON inventory.inventory_id = rental.inventory_id
GROUP BY
    film.title
ORDER BY
    min_rental_days ASC;
"**

In [ ]:
# df sözlüğü kullanarak yapamadım
import sqlite3
import pandas as pd

conn = sqlite3.connect('sqlite-sakila.db')

query = """
SELECT
    film.title,
    MIN(julianday(rental.return_date) - julianday(rental.rental_date)) AS min_rental_days
FROM
    film
JOIN
    inventory ON film.film_id = inventory.film_id
JOIN
    rental ON inventory.inventory_id = rental.inventory_id
GROUP BY
    film.title
ORDER BY
    min_rental_days ASC;
"""

min_rental_days = pd.read_sql_query(query, conn)

min_rental_days['min_rental_days'] = min_rental_days['min_rental_days'].round(5)

print("\nFilm Başlığı ve Minimum Kiralama Gün Sayısı:")
print(min_rental_days)

conn.close()

Film Başlığı ve Minimum Kiralama Gün Sayısı:
                 title  min_rental_days
0    CURTAIN VIDEOTAPE          0.75000
1      DISCIPLE MOTHER          0.75000
2         ROAD ROXANNE          0.75069
3       HEAVEN FREEDOM          0.75139
4        KISSING DOLLS          0.75139
..                 ...              ...
953        MIXED DOORS          3.24097
954         EARLY HOME          3.80764
955    PANKY SUBMARINE          3.82708
956         WAGON JAWS          3.85903
957       ZHIVAGO CORE          3.87500

[958 rows x 2 columns]

**Soru 57: Müşterilerin kiraladığı filmler için ortalama ödeme miktarını bulun.   ==>  "SQL:  
SELECT customer.first_name, customer.last_name, AVG(payment.amount) AS avg_payment FROM customer
JOIN rental ON customer.customer_id = rental.customer_id
JOIN payment ON rental.rental_id = payment.rental_id
GROUP BY customer.first_name, customer.last_name;"**

In [ ]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('sqlite-sakila.db')

df = {}
for table_name in ['staff', 'rental', 'inventory', 'film', 'payment', 'store', 'customer', 'category', 'film_category']:
    query = f"SELECT * FROM {table_name}"
    df[table_name] = pd.DataFrame(conn.execute(query).fetchall(),
                                  columns=[column[0] for column in conn.execute(query).description])

avg_payment = df['customer'] \
    .merge(df['rental'], on='customer_id') \
    .merge(df['payment'], on='rental_id') \
    .groupby(['first_name', 'last_name'], as_index=False) \
    .agg(avg_payment=('amount', 'mean'))

avg_payment['avg_payment'] = avg_payment['avg_payment'].round(5)

print("\nMüşteri Adı, Soyadı ve Ortalama Ödeme Miktarı:")
print(avg_payment)

conn.close()

Müşteri Adı, Soyadı ve Ortalama Ödeme Miktarı:
    first_name last_name  avg_payment
0        AARON     SELBY      4.61500
1         ADAM     GOOCH      4.62636
2       ADRIAN     CLARY      3.93737
3        AGNES    BISHOP      4.29435
4         ALAN      KAHN      4.79769
..         ...       ...          ...
594     WILLIE   MARKHAM      4.07000
595      WILMA  RICHARDS      4.59000
596    YOLANDA    WEAVER      4.10111
597     YVONNE   WATKINS      4.41857
598    ZACHARY      HITE      4.73194

[599 rows x 3 columns]

**Soru 58: En çok kiralanan filmlerin ortalama kiralama süresi nedir?  ==>  "SQL: SELECT
    film.title,
    AVG(julianday(rental.return_date) - julianday(rental.rental_date)) AS avg_rental_days
FROM
    film
JOIN
    inventory ON film.film_id = inventory.film_id
JOIN
    rental ON inventory.inventory_id = rental.inventory_id
GROUP BY
    film.title
ORDER BY
    COUNT(rental.rental_id) DESC
LIMIT 10;
"**

In [ ]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('sqlite-sakila.db')

df = {}
for table_name in ['staff', 'rental', 'inventory', 'film', 'payment', 'store', 'customer', 'category', 'film_category']:
    query = f"SELECT * FROM {table_name}"
    df[table_name] = pd.DataFrame(conn.execute(query).fetchall(),
                                  columns=[column[0] for column in conn.execute(query).description])

df['rental']['rental_date'] = pd.to_datetime(df['rental']['rental_date'])
df['rental']['return_date'] = pd.to_datetime(df['rental']['return_date'])

result = df['film'] \
    .merge(df['inventory'], on='film_id', suffixes=('', '_inv')) \
    .merge(df['rental'], on='inventory_id', suffixes=('', '_r')) \
    .assign(rental_days=lambda x: (x['return_date'] - x['rental_date']).dt.days) \
    .groupby('title') \
    .agg(avg_rental_days=('rental_days', 'mean'), rental_count=('rental_id', 'count')) \
    .reset_index() \
    .sort_values(by='rental_count') \
    .head(10)

print("\nEn Az Kiralanan İlk 10 Film:")
print(result[['title', 'avg_rental_days', 'rental_count']])

conn.close()

En Az Kiralanan İlk 10 Film:
                  title  avg_rental_days  rental_count
558         MIXED DOORS             5.75             4
866         TRAIN BUNCH             3.00             4
378      HARDLY ROBBERS             6.50             4
585  MUSSOLINI SPOILERS             3.60             5
315   FREEDOM CLEOPATRA             2.40             5
669        PRIVATE DROP             4.20             5
293        FEVER EMPIRE             5.20             5
168   CONSPIRACY SPIRIT             3.60             5
532     MANNEQUIN WORST             4.00             5
435     INFORMER DOUBLE             2.80             5

**Soru 59: En az kiralanan filmlerin ortalama kiralama süresi nedir?  ==>  "SQL: SELECT
    film.title,
    AVG(julianday(rental.return_date) - julianday(rental.rental_date)) AS avg_rental_days
FROM
    film
JOIN
    inventory ON film.film_id = inventory.film_id
JOIN
    rental ON inventory.inventory_id = rental.inventory_id
GROUP BY
    film.title
ORDER BY
    COUNT(rental.rental_id) ASC
LIMIT 10;
"**

In [ ]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('sqlite-sakila.db')

df = {}
for table_name in ['staff', 'rental', 'inventory', 'film', 'payment', 'store', 'customer', 'category', 'film_category']:
    query = f"SELECT * FROM {table_name}"
    df[table_name] = pd.DataFrame(conn.execute(query).fetchall(),
                                  columns=[column[0] for column in conn.execute(query).description])

df['rental']['rental_date'] = pd.to_datetime(df['rental']['rental_date'])
df['rental']['return_date'] = pd.to_datetime(df['rental']['return_date'])

avg_rental_days = df['film'] \
    .merge(df['inventory'], on='film_id', suffixes=('', '_inv')) \
    .merge(df['rental'], on='inventory_id', suffixes=('', '_r')) \
    .assign(rental_days=lambda x: (x['return_date'] - x['rental_date']).dt.days) \
    .groupby('title') \
    .agg(avg_rental_days=('rental_days', 'mean'), rental_count=('rental_id', 'count')) \
    .reset_index() \
    .sort_values(by='rental_count') \
    .head(10)

print("\nEn Az Kiralanan İlk 10 Film:")
print(avg_rental_days[['title', 'avg_rental_days']])

conn.close()

En Az Kiralanan İlk 10 Film:
                  title  avg_rental_days
558         MIXED DOORS             5.75
866         TRAIN BUNCH             3.00
378      HARDLY ROBBERS             6.50
585  MUSSOLINI SPOILERS             3.60
315   FREEDOM CLEOPATRA             2.40
669        PRIVATE DROP             4.20
293        FEVER EMPIRE             5.20
168   CONSPIRACY SPIRIT             3.60
532     MANNEQUIN WORST             4.00
435     INFORMER DOUBLE             2.80

**Soru 60: En çok kazanç sağlayan müşterilerin ortalama ödeme miktarı nedir?   ==>  "SQL:
SELECT customer.first_name, customer.last_name, AVG(payment.amount) AS avg_payment FROM customer
JOIN rental ON customer.customer_id = rental.customer_id
JOIN payment ON rental.rental_id = payment.rental_id
GROUP BY customer.first_name, customer.last_name
ORDER BY SUM(payment.amount) DESC
LIMIT 10;"**

In [7]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('sqlite-sakila.db')

df = {}
for table_name in ['staff', 'rental', 'inventory', 'film', 'payment', 'store', 'customer', 'category', 'film_category']:
    query = f"SELECT * FROM {table_name}"
    df[table_name] = pd.DataFrame(conn.execute(query).fetchall(),
                                  columns=[column[0] for column in conn.execute(query).description])

avg_payments = df['customer'] \
    .merge(df['rental'], on='customer_id', suffixes=('', '_r')) \
    .merge(df['payment'], on='rental_id', suffixes=('', '_p')) \
    .groupby(['first_name', 'last_name']) \
    .agg(avg_payment=('amount', 'mean'), total_payment=('amount', 'sum')) \
    .reset_index() \
    .sort_values(by='total_payment', ascending=False) \
    .head(10)

print("\nEn Yüksek Toplam Ödemeye Sahip İlk 10 Müşteri:")
print(avg_payments[['first_name', 'last_name', 'avg_payment']])

conn.close()

En Yüksek Toplam Ödemeye Sahip İlk 10 Müşteri:
    first_name last_name  avg_payment
318       KARL      SEAL     4.923333
175    ELEANOR      HUNT     4.707391
105      CLARA      SHAW     4.656667
474     RHONDA   KENNEDY     4.990000
389     MARION    SNYDER     4.990000
556      TOMMY   COLLAZO     4.911053
590     WESLEY      BULL     4.440000
551        TIM      CARY     4.502821
379     MARCIA      DEAN     4.180476
21         ANA   BRADLEY     5.137059

**Soru 61: En az kazanç sağlayan müşterilerin ortalama ödeme miktarı nedir?  ==>  "SQL:
SELECT customer.first_name, customer.last_name, AVG(payment.amount) AS avg_payment FROM customer
JOIN rental ON customer.customer_id = rental.customer_id
JOIN payment ON rental.rental_id = payment.rental_id
GROUP BY customer.first_name, customer.last_name
ORDER BY SUM(payment.amount) ASC
LIMIT 10; "**

In [8]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('sqlite-sakila.db')

df = {}
for table_name in ['customer', 'rental', 'payment']:
    query = f"SELECT * FROM {table_name}"
    df[table_name] = pd.DataFrame(conn.execute(query).fetchall(),
                                 columns=[column[0] for column in conn.execute(query).description])

result = (df['customer']
          .merge(df['rental'], on='customer_id', how='inner')
          .merge(df['payment'], on='rental_id', how='inner')
          .groupby(['first_name', 'last_name'])
          .agg(avg_payment=('amount', 'mean'), total_payment=('amount', 'sum'))
          .reset_index()
          .sort_values(by='total_payment', ascending=True)
          .head(10))

print("\nEn Düşük Toplam Ödemeye Sahip İlk 10 Müşteri:")
print(result[['first_name', 'last_name', 'avg_payment']])

conn.close()

En Düşük Toplam Ödemeye Sahip İlk 10 Müşteri:
    first_name last_name  avg_payment
83    CAROLINE    BOWMAN     3.390000
351      LEONA    OBRIEN     3.632857
71       BRIAN     WYMAN     4.406667
296     JOHNNY    TURPIN     3.042632
33       ANNIE   RUSSELL     3.267778
319  KATHERINE    RIVERA     4.204286
550    TIFFANY    JORDAN     4.275714
28       ANITA   MORALES     4.190000
401     MATTIE   HOFFMAN     2.944545
334       KIRK   STCLAIR     3.411053

**Soru 62: Mağazalardaki toplam kiralama süresini bulun.  ==>  "SQL: SELECT
    store.store_id,
    SUM(julianday(rental.return_date) - julianday(rental.rental_date)) AS total_rental_days
FROM
    store
JOIN
    staff ON store.store_id = staff.store_id
JOIN
    rental ON staff.staff_id = rental.staff_id
GROUP BY
    store.store_id;
 "**

In [12]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('sqlite-sakila.db')

df = {}
for table_name in ['store', 'staff', 'rental']:
    query = f"SELECT * FROM {table_name}"
    df[table_name] = pd.DataFrame(conn.execute(query).fetchall(),
                                 columns=[column[0] for column in conn.execute(query).description])

df['rental']['rental_date'] = pd.to_datetime(df['rental']['rental_date'])
df['rental']['return_date'] = pd.to_datetime(df['rental']['return_date'])

df['rental']['rental_duration'] = (df['rental']['return_date'] - df['rental']['rental_date']).dt.days

result = (df['store']
          .merge(df['staff'], on='store_id', how='inner')
          .merge(df['rental'], on='staff_id', how='inner')
          .groupby('store_id')
          .agg(total_rental_days=('rental_duration', 'sum'))
          .reset_index())

print("\nHer Mağaza için Toplam Kiralama Günleri:")
print(result)

conn.close()

Her Mağaza için Toplam Kiralama Günleri:
   store_id  total_rental_days
0         1            35897.0
1         2            35889.0

**Soru 63: En uzun süre kiralanan film hangi mağazada kiralanmış?  ==>  "SQL: SELECT
    store.store_id,
    film.title,
    MAX(julianday(rental.return_date) - julianday(rental.rental_date)) AS max_rental_days
FROM
    store
JOIN
    staff ON store.store_id = staff.store_id
JOIN
    rental ON staff.staff_id = rental.staff_id
JOIN
    inventory ON rental.inventory_id = inventory.inventory_id
JOIN
    film ON inventory.film_id = film.film_id
GROUP BY
    store.store_id, film.title
ORDER BY
    max_rental_days DESC
LIMIT 1;
 "**

In [15]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('sqlite-sakila.db')

df = {}
for table_name in ['store', 'staff', 'rental', 'inventory', 'film']:
    query = f"SELECT * FROM {table_name}"
    df[table_name] = pd.DataFrame(conn.execute(query).fetchall(),
                                 columns=[column[0] for column in conn.execute(query).description])

df['rental']['rental_date'] = pd.to_datetime(df['rental']['rental_date'])
df['rental']['return_date'] = pd.to_datetime(df['rental']['return_date'])

df['rental']['rental_duration'] = (df['rental']['return_date'] - df['rental']['rental_date']).dt.days

result = (df['store']
          .merge(df['staff'], on='store_id', how='inner', suffixes=('', '_staff'))
          .merge(df['rental'], on='staff_id', how='inner', suffixes=('', '_rental'))
          .merge(df['inventory'], on='inventory_id', how='inner', suffixes=('', '_inventory'))
          .merge(df['film'], on='film_id', how='inner', suffixes=('', '_film'))
          .groupby(['store_id', 'title'])
          .agg(max_rental_days=('rental_duration', 'max'))
          .reset_index()
          .sort_values(by='max_rental_days', ascending=False)
          .head(1))

print("\nEn Uzun Kiralama Günlerine Sahip Film ve Mağaza:")
print(result)

conn.close()

En Uzun Kiralama Günlerine Sahip Film ve Mağaza:
   store_id             title  max_rental_days
0         1  ACADEMY DINOSAUR              9.0

**Soru 64: En kısa süre kiralanan film hangi mağazada kiralanmış?  ==>  "SQL: SELECT
    store.store_id,
    film.title,
    MIN(julianday(rental.return_date) - julianday(rental.rental_date)) AS min_rental_days
FROM
    store
JOIN
    staff ON store.store_id = staff.store_id
JOIN
    rental ON staff.staff_id = rental.staff_id
JOIN
    inventory ON rental.inventory_id = inventory.inventory_id
JOIN
    film ON inventory.film_id = film.film_id
GROUP BY
    store.store_id, film.title
ORDER BY
    min_rental_days ASC
LIMIT 1;
"**

In [18]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('sqlite-sakila.db')
cursor = conn.cursor()

query = """
SELECT
    store.store_id,
    film.title,
    MIN(julianday(rental.return_date) - julianday(rental.rental_date)) AS min_rental_days
FROM
    store
JOIN
    staff ON store.store_id = staff.store_id
JOIN
    rental ON staff.staff_id = rental.staff_id
JOIN
    inventory ON rental.inventory_id = inventory.inventory_id
JOIN
    film ON inventory.film_id = film.film_id
GROUP BY
    store.store_id, film.title
ORDER BY
    min_rental_days ASC
LIMIT 1;
"""

cursor.execute(query)
result = cursor.fetchall()

for row in result:
    store_id = row[0]
    title = row[1]
    min_rental_days = f"{row[2]:.5f}"
    print(f"Store ID: {store_id}, Film Title: {title}, Min Rental Days: {min_rental_days}")

conn.close()

Store ID: 2, Film Title: CURTAIN VIDEOTAPE, Min Rental Days: 0.75000

**Soru 65: Her filmin ortalama kiralama süresi nedir?  ==>  "SQL: SELECT
    film.title,
    AVG(julianday(rental.return_date) - julianday(rental.rental_date)) AS average_rental_days
FROM
    film
JOIN
    inventory ON film.film_id = inventory.film_id
JOIN
    rental ON inventory.inventory_id = rental.inventory_id
GROUP BY
    film.title;
"**

In [ ]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('sqlite-sakila.db')

df = {}
for table_name in ['film', 'inventory', 'rental']:
    query = f"SELECT * FROM {table_name}"
    df[table_name] = pd.DataFrame(conn.execute(query).fetchall(),
                                  columns=[column[0] for column in conn.execute(query).description])

ortalama_kiralama_suresi = df['film'] \
    .merge(df['inventory'], on='film_id') \
    .merge(df['rental'], on='inventory_id') \
    .assign(kiralama_suresi=lambda x: (pd.to_datetime(x['return_date']) - pd.to_datetime(x['rental_date'])).dt.days) \
    .groupby('title') \
    .agg(ortalama_kiralama_gunleri=('kiralama_suresi', 'mean')) \
    .reset_index()

print("\nHer Filmin Ortalama Kiralama Süresi:")
print(ortalama_kiralama_suresi)

conn.close()

Her Filmin Ortalama Kiralama Süresi:
                 title  ortalama_kiralama_gunleri
0     ACADEMY DINOSAUR                   4.545455
1       ACE GOLDFINGER                   5.333333
2     ADAPTATION HOLES                   2.833333
3     AFFAIR PREJUDICE                   4.363636
4          AFRICAN EGG                   6.727273
..                 ...                        ...
953     YOUNG LANGUAGE                   4.000000
954         YOUTH KICK                   4.666667
955       ZHIVAGO CORE                   5.250000
956  ZOOLANDER FICTION                   5.176471
957          ZORRO ARK                   4.096774

[958 rows x 2 columns]

**Soru 66: Hangi filmler en çok kiralanan kategoride?  ==>  "SQL:
SELECT category.name AS genre, film.title, COUNT(rental.rental_id) AS rental_count FROM category
JOIN film_category ON category.category_id = film_category.category_id
JOIN film ON film_category.film_id = film.film_id
JOIN inventory ON film.film_id - inventory.film_id
JOIN rental ON inventory.inventory_id = rental.inventory_id
GROUP BY genre, film.title
ORDER BY rental_count DESC;"**

In [20]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('sqlite-sakila.db')

df = {}
for table_name in ['category', 'film_category', 'film', 'inventory', 'rental']:
    query = f"SELECT * FROM {table_name}"
    df[table_name] = pd.DataFrame(conn.execute(query).fetchall(),
                                 columns=[column[0] for column in conn.execute(query).description])

result = (df['category']
          .merge(df['film_category'], on='category_id', how='inner', suffixes=('', '_film_category'))
          .merge(df['film'], on='film_id', how='inner', suffixes=('', '_film'))
          .merge(df['inventory'], on='film_id', how='inner', suffixes=('', '_inventory'))
          .merge(df['rental'], on='inventory_id', how='inner', suffixes=('', '_rental'))
          .groupby(['name', 'title'])
          .agg(rental_count=('rental_id', 'count'))
          .reset_index()
          .sort_values(by='rental_count', ascending=False))

print("\nHer Film ve Tür için Kiralama Sayısı:")
print(result)

conn.close()

Her Film ve Tür için Kiralama Sayısı:
            name                title  rental_count
909       Travel   BUCKET BROTHERHOOD            34
536      Foreign     ROCKETEER MOTHER            33
757          New  RIDGEMONT SUBMARINE            32
572        Games       GRIT CLOCKWORK            32
93     Animation       JUGGLER HARDLY            32
..           ...                  ...           ...
513      Foreign      INFORMER DOUBLE             5
570        Games          GLORY TRACY             5
656       Horror          TRAIN BUNCH             4
525      Foreign          MIXED DOORS             4
315  Documentary       HARDLY ROBBERS             4

[958 rows x 3 columns]

**Soru 67: Hangi filmler en az kiralanan kategoride?  ==>  "SQL:
SELECT category.name AS genre, film.title, COUNT(rental.rental_id) AS rental_count FROM category
JOIN film_category ON category.category_id = film_category.category_id
JOIN film ON film_category.film_id = film.film_id
JOIN inventory ON film.film_id - inventory.film_id
JOIN rental ON inventory.inventory_id = rental.inventory_id
GROUP BY genre, film.title
ORDER BY rental_count ASC;"**

In [21]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('sqlite-sakila.db')

df = {}
for table_name in ['category', 'film_category', 'film', 'inventory', 'rental']:
    query = f"SELECT * FROM {table_name}"
    df[table_name] = pd.DataFrame(conn.execute(query).fetchall(),
                                 columns=[column[0] for column in conn.execute(query).description])

result = (df['category']
          .merge(df['film_category'], on='category_id', how='inner', suffixes=('', '_film_category'))
          .merge(df['film'], on='film_id', how='inner', suffixes=('', '_film'))
          .merge(df['inventory'], on='film_id', how='inner', suffixes=('', '_inventory'))
          .merge(df['rental'], on='inventory_id', how='inner', suffixes=('', '_rental'))
          .groupby(['name', 'title'])
          .agg(rental_count=('rental_id', 'count'))
          .reset_index()
          .sort_values(by='rental_count', ascending=True))

print("\nHer Film ve Tür için Kiralama Sayısı:")
print(result)

conn.close()

Her Film ve Tür için Kiralama Sayısı:
            name                title  rental_count
315  Documentary       HARDLY ROBBERS             4
525      Foreign          MIXED DOORS             4
656       Horror          TRAIN BUNCH             4
746          New      MANNEQUIN WORST             5
566        Games         FEVER EMPIRE             5
..           ...                  ...           ...
572        Games       GRIT CLOCKWORK            32
568        Games       FORWARD TEMPLE            32
757          New  RIDGEMONT SUBMARINE            32
536      Foreign     ROCKETEER MOTHER            33
909       Travel   BUCKET BROTHERHOOD            34

[958 rows x 3 columns]

**Soru 68: Hangi mağazalarda en çok film kiralanmış? ==>  "SQL:
SELECT store.store_id, COUNT(rental.rental_id) AS rental_count
FROM store
JOIN staff ON store.store_id = staff.store_id
JOIN rental ON staff.staff_id = rental.staff_id GROUP BY store.store_id
ORDER BY rental_count DESC;"**

In [ ]:
import sqlite3
import pandas as pd


conn = sqlite3.connect('sqlite-sakila.db')

df = {}
for table_name in ['category', 'film_category', 'film', 'inventory', 'rental']:
    query = f"SELECT * FROM {table_name}"
    df[table_name] = pd.DataFrame(conn.execute(query).fetchall(),
                                  columns=[column[0] for column in conn.execute(query).description])

toplam_kiralama_kategorisi = df['category'] \
    .merge(df['film_category'], on='category_id', suffixes=('', '_film_category')) \
    .merge(df['film'], on='film_id', suffixes=('', '_film')) \
    .merge(df['inventory'], on='film_id', suffixes=('', '_inventory')) \
    .merge(df['rental'], on='inventory_id', suffixes=('', '_rental')) \
    .groupby('name') \
    .agg(toplam_kiralama_sayisi=('rental_id', 'count')) \
    .reset_index() \
    .sort_values(by='toplam_kiralama_sayisi', ascending=False)

print("\nHer Bir Film Kategorisi İçin Toplam Kiralama Sayısı:")
print(toplam_kiralama_kategorisi)

conn.close()

Her Bir Film Kategorisi İçin Toplam Kiralama Sayısı:
           name  toplam_kiralama_sayisi
14       Sports                    1179
1     Animation                    1166
0        Action                    1112
13       Sci-Fi                    1101
7        Family                    1096
6         Drama                    1060
5   Documentary                    1050
8       Foreign                    1033
9         Games                     969
2      Children                     945
4        Comedy                     941
12          New                     940
3      Classics                     939
10       Horror                     846
15       Travel                     837
11        Music                     830

**Soru 69: Hangi mağazalarda en az film kiralanmış?  ==>  "SQL:
SELECT
    film.title,
    COUNT(rental.rental_id) AS toplam_kiralama_sayisi
FROM
    film
JOIN
    inventory ON film.film_id = inventory.film_id
JOIN
    rental ON inventory.inventory_id = rental.inventory_id
GROUP BY
    film.title
ORDER BY
    toplam_kiralama_sayisi DESC;
"**

In [ ]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('sqlite-sakila.db')

df = {}
for table_name in ['film', 'inventory', 'rental']:
    query = f"SELECT * FROM {table_name}"
    df[table_name] = pd.DataFrame(conn.execute(query).fetchall(),
                                  columns=[column[0] for column in conn.execute(query).description])

toplam_kiralama_film = df['film'] \
    .merge(df['inventory'], on='film_id') \
    .merge(df['rental'], on='inventory_id') \
    .groupby('title') \
    .agg(toplam_kiralama_sayisi=('rental_id', 'count')) \
    .reset_index() \
    .sort_values(by='toplam_kiralama_sayisi', ascending=False)

print("\nHer Film İçin Toplam Kiralama Sayısı:")
print(toplam_kiralama_film)

conn.close()

Her Film İçin Toplam Kiralama Sayısı:
                   title  toplam_kiralama_sayisi
96    BUCKET BROTHERHOOD                      34
705     ROCKETEER MOTHER                      33
697  RIDGEMONT SUBMARINE                      32
361       GRIT CLOCKWORK                      32
465       JUGGLER HARDLY                      32
..                   ...                     ...
323      FULL FLATLINERS                       5
87      BRAVEHEART HUMAN                       5
378       HARDLY ROBBERS                       4
558          MIXED DOORS                       4
866          TRAIN BUNCH                       4

[958 rows x 2 columns]

**Soru 70: Hangi aktörler en çok filmde rol almış?  ==>  "SQL:
SELECT
    actor.first_name,
    actor.last_name,
    COUNT(film_actor.film_id) AS film_count
FROM
    actor
JOIN
    film_actor ON actor.actor_id = film_actor.actor_id
GROUP BY
    actor.first_name, actor.last_name
ORDER BY
    film_count DESC;
"**

In [22]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('sqlite-sakila.db')

df = {}
for table_name in ['actor', 'film_actor']:
    query = f"SELECT * FROM {table_name}"
    df[table_name] = pd.DataFrame(conn.execute(query).fetchall(),
                                 columns=[column[0] for column in conn.execute(query).description])

result = (df['actor']
          .merge(df['film_actor'], on='actor_id', how='inner')
          .groupby(['first_name', 'last_name'])
          .agg(film_count=('film_id', 'count'))
          .reset_index()
          .sort_values(by='film_count', ascending=False))

print("\nHer Aktörün Yer Aldığı Film Sayısı:")
print(result)

conn.close()

Her Aktörün Yer Aldığı Film Sayısı:
    first_name  last_name  film_count
180      SUSAN      DAVIS          54
65        GINA  DEGENERES          42
190     WALTER       TORN          41
123       MARY     KEITEL          40
125    MATTHEW     CARREY          39
..         ...        ...         ...
177      SISSY   SOBIESKI          18
103      JULIA  ZELLWEGER          16
101      JULIA    FAWCETT          15
99        JUDY       DEAN          15
51       EMILY        DEE          14

[199 rows x 3 columns]

**Soru 71: Hangi aktörler en az filmde rol almış?  ==>  "SQL:
SELECT actor.first_name, actor.last_name, COUNT(film_actor.film_id) AS film_count
FROM actor
JOIN film_actor ON actor.actor_id = film_actor.actor_id
GROUP BY actor.first_name, actor.last_name
ORDER BY film_count ASC;
"**

In [23]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('sqlite-sakila.db')

df = {}
for table_name in ['actor', 'film_actor']:
    query = f"SELECT * FROM {table_name}"
    df[table_name] = pd.DataFrame(conn.execute(query).fetchall(),
                                 columns=[column[0] for column in conn.execute(query).description])

result = (df['actor']
          .merge(df['film_actor'], on='actor_id', how='inner')
          .groupby(['first_name', 'last_name'])
          .agg(film_count=('film_id', 'count'))
          .reset_index()
          .sort_values(by='film_count', ascending=True))

print("\nHer Aktörün Yer Aldığı Film Sayısı (Artan Sıra):")
print(result)

conn.close()

Her Aktörün Yer Aldığı Film Sayısı (Artan Sıra):
    first_name  last_name  film_count
51       EMILY        DEE          14
99        JUDY       DEAN          15
101      JULIA    FAWCETT          15
103      JULIA  ZELLWEGER          16
177      SISSY   SOBIESKI          18
..         ...        ...         ...
125    MATTHEW     CARREY          39
123       MARY     KEITEL          40
190     WALTER       TORN          41
65        GINA  DEGENERES          42
180      SUSAN      DAVIS          54

[199 rows x 3 columns]

**Soru 72: Hangi aktörlerin oynadığı filmler en çok kiralanmış?  ==>  "SQL:  
SELECT actor.first_name, actor.last_name, COUNT(rental.rental_id) AS rental_count
FROM actor
JOIN film_actor ON actor.actor_id = film_actor.actor_id
JOIN film ON film_actor.film_id = film.film_id
JOIN inventory ON film.film_id = inventory.film_id
JOIN rental ON inventory.inventory_id = rental.inventory_id
GROUP BY actor.first_name, actor.last_name
ORDER BY rental_count DESC;
"**

In [55]:
import sqlite3
import pandas as pd

# SQLite veritabanına bağlanma
conn = sqlite3.connect('sqlite-sakila.db')

# Tabloları yükleme
df = {}
for table_name in ['film', 'inventory', 'rental']:
    query = f"SELECT * FROM {table_name}"
    df[table_name] = pd.DataFrame(
        conn.execute(query).fetchall(),
        columns=[column[0] for column in conn.execute(query).description]
    )

# Filmlerin kiralama sayılarını hesaplama
result = (df['film']
          .merge(df['inventory'], on='film_id', how='inner')
          .merge(df['rental'], on='inventory_id', how='inner')
          .groupby('title')
          .agg(toplam_kiralama_sayisi=('rental_id', 'count'))
          .reset_index()
          .sort_values(by='toplam_kiralama_sayisi', ascending=False))

# Sonucu yazdırma
print("Filmlerin toplam kiralama sayıları:")
print(result)

# Bağlantıyı kapatma
conn.close()

Filmlerin toplam kiralama sayıları:
                   title  toplam_kiralama_sayisi
96    BUCKET BROTHERHOOD                      34
705     ROCKETEER MOTHER                      33
697  RIDGEMONT SUBMARINE                      32
361       GRIT CLOCKWORK                      32
465       JUGGLER HARDLY                      32
..                   ...                     ...
323      FULL FLATLINERS                       5
87      BRAVEHEART HUMAN                       5
378       HARDLY ROBBERS                       4
558          MIXED DOORS                       4
866          TRAIN BUNCH                       4

[958 rows x 2 columns]

**Soru 73: Hangi aktörlerin oynadığı filmler en az kiralanmış?  ==>  "SQL:
SELECT actor.first_name, actor.last_name, COUNT(rental.rental_id) AS rental_count
FROM actor
JOIN film_actor ON actor.actor_id = film_actor.actor_id
JOIN film ON film_actor.film_id = film.film_id
JOIN inventory ON film.film_id = inventory.film_id
JOIN rental ON inventory.inventory_id = rental.inventory_id
GROUP BY actor.first_name, actor.last_name
ORDER BY rental_count ASC;
"**

In [58]:
import sqlite3
import pandas as pd

# SQLite veritabanına bağlanma
conn = sqlite3.connect('sqlite-sakila.db')

# Tabloları yükleme
df = {}
for table_name in ['film', 'inventory', 'rental']:
    query = f"SELECT * FROM {table_name}"
    df[table_name] = pd.DataFrame(
        conn.execute(query).fetchall(),
        columns=[column[0] for column in conn.execute(query).description]
    )

# Filmlerin kiralama sayılarını hesaplama
result = (df['film']
          .merge(df['inventory'], on='film_id', how='inner')
          .merge(df['rental'], on='inventory_id', how='inner')
          .groupby('title')
          .agg(toplam_kiralama_sayisi=('rental_id', 'count'))
          .reset_index()
          .sort_values(by='toplam_kiralama_sayisi', ascending=True))  # True yaparak ASC sıralama

# Sonucu yazdırma
print("Filmlerin toplam kiralama sayıları (en azdan en çoğa):")
print(result)

# Bağlantıyı kapatma
conn.close()

Filmlerin toplam kiralama sayıları (en azdan en çoğa):
                  title  toplam_kiralama_sayisi
558         MIXED DOORS                       4
866         TRAIN BUNCH                       4
378      HARDLY ROBBERS                       4
585  MUSSOLINI SPOILERS                       5
315   FREEDOM CLEOPATRA                       5
..                  ...                     ...
361      GRIT CLOCKWORK                      32
733       SCALAWAG DUCK                      32
312      FORWARD TEMPLE                      32
705    ROCKETEER MOTHER                      33
96   BUCKET BROTHERHOOD                      34

[958 rows x 2 columns]

**Soru 74: Hangi kategorilerde en fazla aktör oynamış?  ==>  "SQL:
SELECT category.name AS genre, COUNT(DISTINCT film_actor.actor_id) AS actor_count
FROM category
JOIN film_category ON category.category_id = film_category.category_id
JOIN film ON film_category.film_id = film.film_id
JOIN film_actor ON film.film_id = film_actor.film_id
GROUP BY genre
ORDER BY actor_count DESC;
"**

In [ ]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('sqlite-sakila.db')

df = {}
for table_name in ['category', 'film_category', 'film', 'film_actor', 'actor']:
    query = f"SELECT * FROM {table_name}"
    df[table_name] = pd.DataFrame(conn.execute(query).fetchall(),
                                  columns=[column[0] for column in conn.execute(query).description])

soru_74 = df['category'] \
    .merge(df['film_category'], on='category_id', suffixes=('', '_film_category')) \
    .merge(df['film'], on='film_id', suffixes=('', '_film')) \
    .merge(df['film_actor'], on='film_id', suffixes=('', '_film_actor')) \
    .groupby('name') \
    .agg(aktor_sayisi=('actor_id', 'nunique')) \
    .reset_index() \
    .sort_values(by='aktor_sayisi', ascending=False)

print("Hangi kategorilerde en fazla aktör oynamış:")

conn.close()

Hangi kategorilerde en fazla aktör oynamış:
           name  aktor_sayisi
14       Sports           182
8       Foreign           175
12          New           169
5   Documentary           168
13       Sci-Fi           167
0        Action           166
1     Animation           166
15       Travel           166
7        Family           164
2      Children           163
3      Classics           162
6         Drama           162
10       Horror           156
9         Games           150
4        Comedy           147
11        Music           144

**Soru 75: Hangi kategorilerde en az aktör oynamış?  ==>  "SQL:
SELECT category.name AS genre, COUNT(DISTINCT film_actor.actor_id) AS actor_count
FROM category
JOIN film_category ON category.category_id = film_category.category_id
JOIN film ON film_category.film_id = film.film_id
JOIN film_actor ON film.film_id = film_actor.film_id
GROUP BY genre
ORDER BY actor_count ASC;
"**

In [ ]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('sqlite-sakila.db')

df = {}
for table_name in ['category', 'film_category', 'film', 'film_actor', 'actor']:
    query = f"SELECT * FROM {table_name}"
    df[table_name] = pd.DataFrame(conn.execute(query).fetchall(),
                                  columns=[column[0] for column in conn.execute(query).description])

soru_75 = df['category'] \
    .merge(df['film_category'], on='category_id', suffixes=('', '_film_category')) \
    .merge(df['film'], on='film_id', suffixes=('', '_film')) \
    .merge(df['film_actor'], on='film_id', suffixes=('', '_film_actor')) \
    .groupby('name') \
    .agg(aktor_sayisi=('actor_id', 'nunique')) \
    .reset_index() \
    .sort_values(by='aktor_sayisi', ascending=True)

print("Hangi kategorilerde en az aktör oynamış:")
print(soru_75)

conn.close()

Hangi kategorilerde en az aktör oynamış:
           name  aktor_sayisi
11        Music           144
4        Comedy           147
9         Games           150
10       Horror           156
3      Classics           162
6         Drama           162
2      Children           163
7        Family           164
0        Action           166
1     Animation           166
15       Travel           166
13       Sci-Fi           167
5   Documentary           168
12          New           169
8       Foreign           175
14       Sports           182

**Soru 76: Hangi kategorilerde oynayan filmler en çok kiralanmış?  ==>  "SQL:
SELECT category.name AS genre, COUNT(rental.rental_id) AS rental_count
FROM category
JOIN film_category ON category.category_id = film_category.category_id
JOIN film ON film_category.film_id = film.film_id
JOIN inventory ON film.film_id = inventory.film_id
JOIN rental ON inventory.inventory_id = rental.inventory_id
GROUP BY category.name
ORDER BY rental_count DESC;
"**

In [ ]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('sqlite-sakila.db')

df = {}
for table_name in ['category', 'film_category', 'film', 'inventory', 'rental']:
    query = f"SELECT * FROM {table_name}"
    df[table_name] = pd.DataFrame(conn.execute(query).fetchall(),
                                  columns=[column[0] for column in conn.execute(query).description])

soru_76 = df['category'] \
    .merge(df['film_category'], on='category_id', suffixes=('', '_film_category')) \
    .merge(df['film'], on='film_id', suffixes=('', '_film')) \
    .merge(df['inventory'], on='film_id', suffixes=('', '_inventory')) \
    .merge(df['rental'], on='inventory_id', suffixes=('', '_rental')) \
    .groupby('name') \
    .agg(kiralama_sayisi=('rental_id', 'count')) \
    .reset_index() \
    .sort_values(by='kiralama_sayisi', ascending=False)

print("Hangi kategorilerde oynayan filmler en çok kiralanmış:")
print(soru_76)

conn.close()

Hangi kategorilerde oynayan filmler en çok kiralanmış:
           name  kiralama_sayisi
14       Sports             1179
1     Animation             1166
0        Action             1112
13       Sci-Fi             1101
7        Family             1096
6         Drama             1060
5   Documentary             1050
8       Foreign             1033
9         Games              969
2      Children              945
4        Comedy              941
12          New              940
3      Classics              939
10       Horror              846
15       Travel              837
11        Music              830

**Soru 77: Hangi kategorilerde oynayan filmler en az kiralanmış?  ==>  "SQL:
SELECT category.name AS genre, COUNT(rental.rental_id) AS rental_count FROM category
JOIN film_category ON category.category_id = film_category.category_id JOIN film ON film_category.film_id = film.film_id
JOIN inventory ON film.film_id = inventory.film_id
JOIN rental ON inventory.inventory_id = rental.inventory_id
GROUP BY genre
ORDER BY rental_count ASC;"**

In [ ]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('sqlite-sakila.db')

df = {}
for table_name in ['category', 'film_category', 'film', 'inventory', 'rental']:
    query = f"SELECT * FROM {table_name}"
    df[table_name] = pd.DataFrame(conn.execute(query).fetchall(),
                                  columns=[column[0] for column in conn.execute(query).description])

soru_77 = df['category'] \
    .merge(df['film_category'], on='category_id', suffixes=('', '_film_category')) \
    .merge(df['film'], on='film_id', suffixes=('', '_film')) \
    .merge(df['inventory'], on='film_id', suffixes=('', '_inventory')) \
    .merge(df['rental'], on='inventory_id', suffixes=('', '_rental')) \
    .groupby('name') \
    .agg(kiralama_sayisi=('rental_id', 'count')) \
    .reset_index() \
    .sort_values(by='kiralama_sayisi', ascending=True)

print("Hangi kategorilerde oynayan filmler en az kiralanmış:")
print(soru_77)

conn.close()

Hangi kategorilerde oynayan filmler en az kiralanmış:
           name  kiralama_sayisi
11        Music              830
15       Travel              837
10       Horror              846
3      Classics              939
12          New              940
4        Comedy              941
2      Children              945
9         Games              969
8       Foreign             1033
5   Documentary             1050
6         Drama             1060
7        Family             1096
13       Sci-Fi             1101
0        Action             1112
1     Animation             1166
14       Sports             1179

**Soru 78: En fazla kazanç sağlayan kategoriler hangileri?  ==>  "SQL:
SELECT category.name AS genre, SUM(payment.amount) AS total_revenue FROM category
JOIN film_category ON category.category_id = film_category.category_id JOIN film ON film_category.film_id = film.film_id
JOIN inventory ON film.film_id - inventory.film_id
JOIN rental ON inventory.inventory_id = rental.inventory_id
JOIN payment ON rental.rental_id = payment.rental_id
GROUP BY genre
ORDER BY total_revenue DESC;"**

In [29]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('sqlite-sakila.db')

df = {}
for table_name in ['category', 'film_category', 'film', 'inventory', 'rental']:
    query = f"SELECT * FROM {table_name}"
    df[table_name] = pd.DataFrame(conn.execute(query).fetchall(),
                                 columns=[column[0] for column in conn.execute(query).description])

result = (df['category']
          .merge(df['film_category'], on='category_id', how='inner', suffixes=('', '_film_category'))
          .merge(df['film'], on='film_id', how='inner', suffixes=('', '_film'))
          .merge(df['inventory'], on='film_id', how='inner', suffixes=('', '_inventory'))
          .merge(df['rental'], on='inventory_id', how='inner', suffixes=('', '_rental'))
          .groupby('name')
          .agg(total_revenue=('rental_rate', lambda x: x.sum() * len(x)))
          .reset_index()
          .sort_values(by='total_revenue', ascending=False))

print("\nKategorilere Göre Toplam Gelir:")
print(result)

conn.close()

Kategorilere Göre Toplam Gelir:
           name  total_revenue
14       Sports     4264690.59
1     Animation     3752584.44
13       Sci-Fi     3622278.99
6         Drama     3575804.00
0        Action     3299170.56
7        Family     3243107.84
8       Foreign     3151342.11
9         Games     2939277.39
4        Comedy     2907304.19
5   Documentary     2884875.00
12          New     2730324.00
2      Children     2401764.75
3      Classics     2326475.79
15       Travel     2324039.31
10       Horror     2219514.84
11        Music     2109611.00

**Soru 79: En az kazanç sağlayan kategoriler hangileri?  ==>  "SQL:
SELECT category.name AS genre, SUM(payment.amount) AS total_revenue FROM category
JOIN film_category ON category.category_id = film_category.category_id JOIN film ON film_category.film_id = film.film_id
JOIN inventory ON film.film_id = inventory.film_id
JOIN rental ON inventory.inventory_id = rental.inventory_id
JOIN payment ON rental.rental_id = payment.rental_id
GROUP BY genre
ORDER BY total_revenue ASC;"**

In [ ]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('sqlite-sakila.db')

df = {}
for table_name in ['category', 'film_category', 'film', 'inventory', 'rental', 'payment']:
    query = f"SELECT * FROM {table_name}"
    df[table_name] = pd.DataFrame(conn.execute(query).fetchall(),
                                  columns=[column[0] for column in conn.execute(query).description])

soru_79 = df['category'] \
    .merge(df['film_category'], on='category_id', suffixes=('', '_film_category')) \
    .merge(df['film'], on='film_id', suffixes=('', '_film')) \
    .merge(df['inventory'], on='film_id', suffixes=('', '_inventory')) \
    .merge(df['rental'], on='inventory_id', suffixes=('', '_rental')) \
    .merge(df['payment'], on='rental_id', suffixes=('', '_payment')) \
    .groupby('name') \
    .agg(toplam_gelir=('amount', 'sum')) \
    .reset_index() \
    .sort_values(by='toplam_gelir', ascending=True)

print("En az kazanç sağlayan kategoriler:")
print(soru_79)

conn.close()

En az kazanç sağlayan kategoriler:
           name  toplam_gelir
11        Music       3417.72
15       Travel       3549.64
3      Classics       3639.59
2      Children       3655.55
10       Horror       3722.54
5   Documentary       4217.52
7        Family       4226.07
8       Foreign       4270.67
9         Games       4281.33
12          New       4351.62
0        Action       4375.85
4        Comedy       4383.58
6         Drama       4587.39
1     Animation       4656.30
13       Sci-Fi       4756.98
14       Sports       5314.21

**Soru 80: En çok film kiralayan müşterilerin ortalama ödeme miktarı nedir?  ==>  "SQL:  
SELECT customer.first_name, customer.last_name, AVG(payment.amount) AS avg_payment FROM customer
JOIN rental ON customer.customer_id = rental.customer_id
JOIN payment ON rental.rental_id = payment.rental_id
GROUP BY customer.first_name, customer.last_name
ORDER BY COUNT(rental.rental_id) DESC
LIMIT 10;"**

In [31]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('sqlite-sakila.db')

df = {}
for table_name in ['customer', 'rental', 'payment']:
    query = f"SELECT * FROM {table_name}"
    df[table_name] = pd.DataFrame(conn.execute(query).fetchall(),
                                 columns=[column[0] for column in conn.execute(query).description])

result = (df['customer']
          .merge(df['rental'], on='customer_id', how='inner')
          .merge(df['payment'], on='rental_id', how='inner')
          .groupby(['first_name', 'last_name'])
          .agg(
              avg_payment=('amount', 'mean'),
              rental_count=('rental_id', 'count')
          )
          .reset_index()
          .sort_values(by='rental_count', ascending=False)
          .head(10))

print("\nİlk 10 Müşterinin Ortalama Ödemeleri ve Kiralama Sayıları:")
print(result)

conn.close()

İlk 10 Müşterinin Ortalama Ödemeleri ve Kiralama Sayıları:
    first_name last_name  avg_payment  rental_count
175    ELEANOR      HUNT     4.707391            46
318       KARL      SEAL     4.923333            45
379     MARCIA      DEAN     4.180476            42
105      CLARA      SHAW     4.656667            42
536      TAMMY   SANDERS     3.794878            41
590     WESLEY      BULL     4.440000            40
531        SUE    PETERS     3.865000            40
389     MARION    SNYDER     4.990000            39
551        TIM      CARY     4.502821            39
474     RHONDA   KENNEDY     4.990000            39

**Soru 81: En az film kiralayan müşterilerin ortalama ödeme miktarı nedir?  ==>  "SQL:
SELECT customer.first_name, customer.last_name, AVG(payment.amount) AS avg_payment FROM customer
JOIN rental ON customer.customer_id = rental.customer_id
JOIN payment ON rental.rental_id = payment.rental_id
GROUP BY customer.first_name, customer.last_name
ORDER BY COUNT(rental.rental_id) ASC
LIMIT 10;"**

In [32]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('sqlite-sakila.db')

df = {}
for table_name in ['customer', 'rental', 'payment']:
    query = f"SELECT * FROM {table_name}"
    df[table_name] = pd.DataFrame(conn.execute(query).fetchall(),
                                 columns=[column[0] for column in conn.execute(query).description])

result = (df['customer']
          .merge(df['rental'], on='customer_id', how='inner')
          .merge(df['payment'], on='rental_id', how='inner')
          .groupby(['first_name', 'last_name'])
          .agg(
              avg_payment=('amount', 'mean'),
              rental_count=('rental_id', 'count')
          )
          .reset_index()
          .sort_values(by='rental_count', ascending=True)
          .head(10))

print("\nİlk 10 Müşterinin Ortalama Ödemeleri ve Kiralama Sayıları (Artan Sıra):")
print(result)

conn.close()

İlk 10 Müşterinin Ortalama Ödemeleri ve Kiralama Sayıları (Artan Sıra):
    first_name last_name  avg_payment  rental_count
71       BRIAN     WYMAN     4.406667            12
550    TIFFANY    JORDAN     4.275714            14
351      LEONA    OBRIEN     3.632857            14
319  KATHERINE    RIVERA     4.204286            14
83    CAROLINE    BOWMAN     3.390000            15
28       ANITA   MORALES     4.190000            15
277     JEROME    KENYON     4.615000            16
356     LESTER     KRAUS     4.115000            16
290      JOANN   GARDNER     4.177500            16
35     ANTONIO      MEEK     4.927500            16

**Soru 82: Hangi mağazalarda hangi kategoriler en çok kiralanmış?  ==>  "SQL:
SELECT store.store_id, category.name AS genre, COUNT(rental.rental_id) AS rental_count
FROM store
JOIN staff ON store.store_id = staff.store_id
JOIN rental ON staff.staff_id = rental.staff_id
JOIN inventory ON rental.inventory_id = inventory.inventory_id
JOIN film ON inventory.film_id = film.film_id
JOIN film_category ON film.film_id = film_category.film_id
JOIN category ON film_category.category_id = category.category_id
GROUP BY store.store_id, genre
ORDER BY rental_count DESC;
"**

In [42]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('sqlite-sakila.db')

df = {}
for table_name in ['store', 'staff', 'rental', 'inventory', 'film', 'film_category', 'category']:
    query = f"SELECT * FROM {table_name}"
    df[table_name] = pd.DataFrame(conn.execute(query).fetchall(),
                                 columns=[column[0] for column in conn.execute(query).description])

result = (df['store']
          .merge(df['staff'], on='store_id', how='inner', suffixes=('', '_staff'))
          .merge(df['rental'], on='staff_id', how='inner', suffixes=('', '_rental'))
          .merge(df['inventory'], on='inventory_id', how='inner', suffixes=('', '_inventory'))
          .merge(df['film'], on='film_id', how='inner', suffixes=('', '_film'))
          .merge(df['film_category'], on='film_id', how='inner', suffixes=('', '_film_category'))
          .merge(df['category'], on='category_id', how='inner', suffixes=('', '_category'))
          .groupby(['store_id', 'name'])
          .agg(rental_count=('rental_id', 'count'))
          .reset_index()
          .sort_values(by='rental_count', ascending=False))

print("\nMağaza ve Kategori Bazında Kiralama Sayıları (Azalan Sıra):")
print(result)

conn.close()

Mağaza ve Kategori Bazında Kiralama Sayıları (Azalan Sıra):
    store_id         name  rental_count
30         2       Sports           614
17         2    Animation           584
1          1    Animation           582
7          1       Family           565
14         1       Sports           565
0          1       Action           562
13         1       Sci-Fi           553
16         2       Action           550
29         2       Sci-Fi           548
24         2      Foreign           543
22         2        Drama           532
23         2       Family           531
6          1        Drama           528
5          1  Documentary           525
21         2  Documentary           525
9          1        Games           494
8          1      Foreign           490
12         1          New           489
2          1     Children           483
25         2        Games           475
4          1       Comedy           475
3          1     Classics           475
20         2       Comedy           466
19         2     Classics           464
18         2     Children           462
28         2          New           451
31         2       Travel           438
11         1        Music           432
26         2       Horror           423
10         1       Horror           423
15         1       Travel           399
27         2        Music           398

**Soru 83: Hangi mağazalarda hangi kategoriler en az kiralanmış?  ==>  "SQL:
SELECT store.store_id, category.name AS genre, COUNT(rental.rental_id) AS rental_count FROM store
JOIN staff ON store.store_id = staff.store_id
JOIN rental ON staff.staff_id = rental.staff_id
JOIN inventory ON rental.inventory_id = inventory.inventory_id
JOIN film ON inventory.film_id - film.film_id
JOIN film_category ON film.film_id = film_category.film_id
JOIN category ON film_category.category_id = category.category_id GROUP BY store.store_id, genre
ORDER BY rental_count ASC;"**

In [39]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('sqlite-sakila.db')

df = {}
for table_name in ['store', 'staff', 'rental', 'inventory', 'film', 'film_category', 'category']:
    query = f"SELECT * FROM {table_name}"
    df[table_name] = pd.DataFrame(conn.execute(query).fetchall(),
                                 columns=[column[0] for column in conn.execute(query).description])

result = (df['store']
          .merge(df['staff'], on='store_id', how='inner', suffixes=('', '_staff'))
          .merge(df['rental'], on='staff_id', how='inner', suffixes=('', '_rental'))
          .merge(df['inventory'], on='inventory_id', how='inner', suffixes=('', '_inventory'))
          .merge(df['film'], on='film_id', how='inner', suffixes=('', '_film'))
          .merge(df['film_category'], on='film_id', how='inner', suffixes=('', '_film_category'))
          .merge(df['category'], on='category_id', how='inner', suffixes=('', '_category'))
          .groupby(['store_id', 'name'])
          .agg(rental_count=('rental_id', 'count'))
          .reset_index()
          .sort_values(by='rental_count', ascending=True))

print("\nMağaza ve Kategori Bazında Kiralama Sayıları (Artan Sıra):")
print(result)

conn.close()

Mağaza ve Kategori Bazında Kiralama Sayıları (Artan Sıra):
    store_id         name  rental_count
27         2        Music           398
15         1       Travel           399
26         2       Horror           423
10         1       Horror           423
11         1        Music           432
31         2       Travel           438
28         2          New           451
18         2     Children           462
19         2     Classics           464
20         2       Comedy           466
4          1       Comedy           475
3          1     Classics           475
25         2        Games           475
2          1     Children           483
12         1          New           489
8          1      Foreign           490
9          1        Games           494
21         2  Documentary           525
5          1  Documentary           525
6          1        Drama           528
23         2       Family           531
22         2        Drama           532
24         2      Foreign           543
29         2       Sci-Fi           548
16         2       Action           550
13         1       Sci-Fi           553
0          1       Action           562
14         1       Sports           565
7          1       Family           565
1          1    Animation           582
17         2    Animation           584
30         2       Sports           614

**Soru 84: En fazla sayıda film kiralayan mağaza hangisidir ve toplam kiralama sayısı nedir?  ==>  "SQL:
SELECT store.store_id, COUNT(rental.rental_id) AS total_rentals FROM store
JOIN staff ON store.store_id = staff.store_id
JOIN rental ON staff.staff_id = rental.staff_id
GROUP BY store.store_id
ORDER BY total_rentals DESC
LIMIT 1; "**

In [ ]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('sqlite-sakila.db')

df = {}
for table_name in ['store', 'staff', 'rental']:
    query = f"SELECT * FROM {table_name}"
    df[table_name] = pd.DataFrame(conn.execute(query).fetchall(),
                                  columns=[column[0] for column in conn.execute(query).description])

soru_84 = df['store'] \
    .merge(df['staff'], on='store_id') \
    .merge(df['rental'], on='staff_id') \
    .groupby('store_id') \
    .agg(total_rentals=('rental_id', 'count')) \
    .reset_index() \
    .sort_values(by='total_rentals', ascending=False) \
    .head(1)

print("En fazla sayıda film kiralayan mağaza ve toplam kiralama sayısı:")
print(soru_84)


conn.close()

En fazla sayıda film kiralayan mağaza ve toplam kiralama sayısı:
   store_id  total_rentals
0         1           8040

**Soru 85: En az sayıda film kiralayan mağaza hangisidir ve toplam kiralama sayısı nedir?  ==>  "SQL:
SELECT store.store_id, COUNT(rental.rental_id) AS total_rentals FROM store
JOIN staff ON store.store_id = staff.store_id
JOIN rental ON staff.staff_id = rental.staff_id GROUP BY store.store_id
ORDER BY total_rentals ASC
LIMIT 1;"**

In [ ]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('sqlite-sakila.db')

df = {}
for table_name in ['store', 'staff', 'rental']:
    query = f"SELECT * FROM {table_name}"
    df[table_name] = pd.DataFrame(conn.execute(query).fetchall(),
                                  columns=[column[0] for column in conn.execute(query).description])

soru_85 = df['store'] \
    .merge(df['staff'], on='store_id') \
    .merge(df['rental'], on='staff_id') \
    .groupby('store_id') \
    .agg(total_rentals=('rental_id', 'count')) \
    .reset_index() \
    .sort_values(by='total_rentals', ascending=True) \
    .head(1)

print("En az sayıda film kiralayan mağaza ve toplam kiralama sayısı:")
print(soru_85)

conn.close()

En az sayıda film kiralayan mağaza ve toplam kiralama sayısı:
   store_id  total_rentals
1         2           8004

**Soru 86: En fazla sayıda kiralama yapan müşteri hangisidir ve toplam kiralama sayısı nedir?  ==>  "SQL:
SELECT customer.first_name, customer.last_name, COUNT(rental.rental_id) AS total_rentals
FROM customer
JOIN rental ON customer.customer_id = rental.customer_id
GROUP BY customer.first_name, customer.last_name
ORDER BY total_rentals DESC
LIMIT 1;"**

In [ ]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('sqlite-sakila.db')

df = {}
for table_name in ['customer', 'rental']:
    query = f"SELECT * FROM {table_name}"
    df[table_name] = pd.DataFrame(conn.execute(query).fetchall(),
                                  columns=[column[0] for column in conn.execute(query).description])

print(df['customer'].columns)

soru_86 = df['customer'] \
    .merge(df['rental'], on='customer_id') \
    .groupby(['first_name', 'last_name']) \
    .agg(total_rentals=('rental_id', 'count')) \
    .reset_index() \
    .sort_values(by='total_rentals', ascending=False) \
    .head(1)

print("En fazla sayıda kiralama yapan müşteri ve toplam kiralama sayısı:")
print(soru_86)

conn.close()

Index(['customer_id', 'store_id', 'first_name', 'last_name', 'email',
       'address_id', 'active', 'create_date', 'last_update'],
      dtype='object')
En fazla sayıda kiralama yapan müşteri ve toplam kiralama sayısı:
    first_name last_name  total_rentals
175    ELEANOR      HUNT             46

**Soru 87: En az sayıda kiralama yapan müşteri hangisidir ve toplam kiralama sayısı nedir?  ==>  "SQL:
SELECT customer.first_name, customer.last_name, COUNT(rental.rental_id) AS total_rentals FROM customer
JOIN rental ON customer.customer_id = rental.customer_id
GROUP BY customer.first_name, customer.last_name
ORDER BY total_rentals ASC
LIMIT 1;"**

In [ ]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('sqlite-sakila.db')

df = {}
for table_name in ['customer', 'rental']:
    query = f"SELECT * FROM {table_name}"
    df[table_name] = pd.DataFrame(conn.execute(query).fetchall(),
                                  columns=[column[0] for column in conn.execute(query).description])

soru_87 = df['customer'] \
    .merge(df['rental'], on='customer_id') \
    .groupby(['first_name', 'last_name']) \
    .agg(total_rentals=('rental_id', 'count')) \
    .reset_index() \
    .sort_values(by='total_rentals', ascending=True) \
    .head(1)

print("En az sayıda kiralama yapan müşteri ve toplam kiralama sayısı:")
print(soru_87)

conn.close()

En az sayıda kiralama yapan müşteri ve toplam kiralama sayısı:
   first_name last_name  total_rentals
71      BRIAN     WYMAN             12

**Soru 88: En fazla sayıda kiralanan film hangisidir ve toplam kiralama sayısı nedir?  ==>  "SQL:
SELECT film.title, COUNT(rental.rental_id) AS total_rentals FROM film
JOIN inventory ON film.film_id = inventory.film_id
JOIN rental ON inventory.inventory_id = rental.inventory_id
GROUP BY film.title
ORDER BY total_rentals DESC
LIMIT 1;"**

In [ ]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('sqlite-sakila.db')

df = {}
for table_name in ['film', 'inventory', 'rental']:
    query = f"SELECT * FROM {table_name}"
    df[table_name] = pd.DataFrame(conn.execute(query).fetchall(),
                                  columns=[column[0] for column in conn.execute(query).description])

soru_88 = df['film'] \
    .merge(df['inventory'], on='film_id') \
    .merge(df['rental'], on='inventory_id') \
    .groupby('title') \
    .agg(total_rentals=('rental_id', 'count')) \
    .reset_index() \
    .sort_values(by='total_rentals', ascending=False) \
    .head(1)

print("En fazla sayıda kiralanan film ve toplam kiralama sayısı:")
print(soru_88)

conn.close()

En fazla sayıda kiralanan film ve toplam kiralama sayısı:
                 title  total_rentals
96  BUCKET BROTHERHOOD             34

**Soru 89: En az sayıda kiralanan film hangisidir ve toplam kiralama sayısı nedir?  ==>  "SQL:
SELECT film.title, COUNT(rental.rental_id) AS total_rentals FROM film
JOIN inventory ON film.film_id - inventory.film_id
JOIN rental ON inventory.inventory_id = rental.inventory_id GROUP BY film.title
ORDER BY total_rentals ASC
LIMIT 1;"**

In [46]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('sqlite-sakila.db')

df = {}
for table_name in ['film', 'inventory', 'rental']:
    query = f"SELECT * FROM {table_name}"
    df[table_name] = pd.DataFrame(conn.execute(query).fetchall(),
                                  columns=[column[0] for column in conn.execute(query).description])

soru_89 = (df['film']
           .merge(df['inventory'], on='film_id', how='inner')
           .merge(df['rental'], on='inventory_id', how='outer')  # 'outer' kullanarak kiralanmamışları dahil et
           .groupby('title')
           .agg(total_rentals=('rental_id', 'count'))
           .reset_index()
           .sort_values(by='total_rentals', ascending=True)
           .head(1))

print("En az sayıda kiralanan film ve toplam kiralama sayısı:")
print(soru_89)

conn.close()

En az sayıda kiralanan film ve toplam kiralama sayısı:
           title  total_rentals
558  MIXED DOORS              4

**Soru 90: En fazla kazanç sağlayan müşteri hangisidir ve toplam kazancı nedir?  ==>  "SQL:
SELECT customer.first_name, customer.last_name, SUM(payment.amount) AS total_revenue FROM customer
JOIN rental ON customer.customer_id = rental.customer_id
JOIN payment ON rental.rental_id = payment.rental_id
GROUP BY customer.first_name, customer.last_name
ORDER BY total_revenue DESC
LIMIT 1;"**

In [ ]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('sqlite-sakila.db')


df = {}
for table_name in ['customer', 'rental', 'payment']:
    query = f"SELECT * FROM {table_name}"
    df[table_name] = pd.DataFrame(conn.execute(query).fetchall(),
                                  columns=[column[0] for column in conn.execute(query).description])

soru_90 = df['customer'] \
    .merge(df['rental'], on='customer_id') \
    .merge(df['payment'], on='rental_id') \
    .groupby(['first_name', 'last_name']) \
    .agg(total_revenue=('amount', 'sum')) \
    .reset_index() \
    .sort_values(by='total_revenue', ascending=False) \
    .head(1)

print("En fazla kazanç sağlayan müşteri ve toplam kazancı:")
print(soru_90)

conn.close()

En fazla kazanç sağlayan müşteri ve toplam kazancı:
    first_name last_name  total_revenue
318       KARL      SEAL         221.55

**Soru 91: En az kazanç sağlayan müşteri hangisidir ve toplam kazancı nedir?  ==>  "SQL:  
SELECT customer.first_name, customer.last_name, SUM(payment.amount) AS total_revenue FROM customer
JOIN rental ON customer.customer_id = rental.customer_id
JOIN payment ON rental.rental_id = payment.rental_id
GROUP BY customer.first_name, customer.last_name
ORDER BY total_revenue ASC
LIMIT 1;"**

In [ ]:
import sqlite3
import pandas as pd


conn = sqlite3.connect('sqlite-sakila.db')


df = {}
for table_name in ['customer', 'rental', 'payment']:
    query = f"SELECT * FROM {table_name}"
    df[table_name] = pd.DataFrame(conn.execute(query).fetchall(),
                                  columns=[column[0] for column in conn.execute(query).description])

soru_91 = df['customer'] \
    .merge(df['rental'], on='customer_id') \
    .merge(df['payment'], on='rental_id') \
    .groupby(['first_name', 'last_name']) \
    .agg(total_revenue=('amount', 'sum')) \
    .reset_index() \
    .sort_values(by='total_revenue', ascending=True) \
    .head(1)

print("En az kazanç sağlayan müşteri ve toplam kazancı:")
print(soru_91)

conn.close()

En az kazanç sağlayan müşteri ve toplam kazancı:
   first_name last_name  total_revenue
83   CAROLINE    BOWMAN          50.85

**Soru 92: Hangi film, hangi kategoride en çok kazanç sağlamış?  ==>  "SQL:  
SELECT film.title, category.name AS genre, SUM(payment.amount) AS total_revenue
FROM film
JOIN film_category ON film.film_id = film_category.film_id
JOIN category ON film_category.category_id = category.category_id
JOIN inventory ON film.film_id = inventory.film_id
JOIN rental ON inventory.inventory_id = rental.inventory_id
JOIN payment ON rental.rental_id = payment.rental_id
GROUP BY film.title, category.name
ORDER BY total_revenue DESC
LIMIT 1;
"**

In [ ]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('sqlite-sakila.db')


df = {}
for table_name in ['film', 'film_category', 'category', 'inventory', 'rental', 'payment']:
    query = f"SELECT * FROM {table_name}"
    df[table_name] = pd.DataFrame(conn.execute(query).fetchall(),
                                  columns=[column[0] for column in conn.execute(query).description])

soru_92 = df['film'] \
    .merge(df['film_category'], on='film_id', suffixes=('', '_fc')) \
    .merge(df['category'], on='category_id', suffixes=('', '_cat')) \
    .merge(df['inventory'], on='film_id') \
    .merge(df['rental'], on='inventory_id') \
    .merge(df['payment'], on='rental_id', suffixes=('', '_pay')) \
    .groupby(['title', 'name']) \
    .agg(total_revenue=('amount', 'sum')) \
    .reset_index() \
    .sort_values(by='total_revenue', ascending=False) \
    .head(1)

print("Hangi film, hangi kategoride en çok kazanç sağlamış:")
print(soru_92)


conn.close()

Hangi film, hangi kategoride en çok kazanç sağlamış:
                title   name  total_revenue
841  TELEGRAPH VOYAGE  Music         231.73

**Soru 93: Hangi film, hangi kategoride en az kazanç sağlamış?  ==>  "SQL:
SELECT film.title, category.name AS genre, SUM(payment.amount) AS total_revenue FROM film
JOIN film_category ON film.film_id = film_category.film_id
JOIN category ON film_category.category_id = category.category_id
JOIN inventory ON film.film_id = inventory.film_id
JOIN rental ON inventory.inventory_id = rental.inventory_id
JOIN payment ON rental.rental_id = payment.rental_id
GROUP BY film.title, genre
ORDER BY total_revenue ASC
LIMIT 1;"**

In [ ]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('sqlite-sakila.db')


df = {}
for table_name in ['film', 'film_category', 'category', 'inventory', 'rental', 'payment']:
    query = f"SELECT * FROM {table_name}"
    df[table_name] = pd.DataFrame(conn.execute(query).fetchall(),
                                  columns=[column[0] for column in conn.execute(query).description])

soru_93 = df['film'] \
    .merge(df['film_category'], on='film_id', suffixes=('', '_fc')) \
    .merge(df['category'], on='category_id', suffixes=('', '_cat')) \
    .merge(df['inventory'], on='film_id') \
    .merge(df['rental'], on='inventory_id') \
    .merge(df['payment'], on='rental_id', suffixes=('', '_pay')) \
    .groupby(['title', 'name']) \
    .agg(toplam_kazanc=('amount', 'sum')) \
    .reset_index() \
    .sort_values(by='toplam_kazanc', ascending=True) \
    .head(1)

print("Hangi film, hangi kategoride en az kazanç sağlamış:")
print(soru_93)

conn.close()

Hangi film, hangi kategoride en az kazanç sağlamış:
           title    name  toplam_kazanc
847  TEXAS WATCH  Horror           5.94

**Soru 94: En fazla kazanç sağlayan mağaza hangisidir ve toplam kazancı nedir?  ==>  "SQL:  
SELECT store.store_id, SUM(payment.amount) AS total_revenue
FROM store
JOIN staff ON store.store_id = staff.store_id
JOIN rental ON staff.staff_id = rental.staff_id
JOIN payment ON rental.rental_id = payment.rental_id GROUP BY store.store_id
ORDER BY total_revenue DESC
LIMIT 1;"**

In [ ]:
import sqlite3
import pandas as pd


conn = sqlite3.connect('sqlite-sakila.db')


df = {}
for table_name in ['store', 'staff', 'rental', 'payment']:
    query = f"SELECT * FROM {table_name}"
    df[table_name] = pd.DataFrame(conn.execute(query).fetchall(),
                                  columns=[column[0] for column in conn.execute(query).description])


soru_94 = df['store'] \
    .merge(df['staff'], on='store_id', suffixes=('', '_staff')) \
    .merge(df['rental'], on='staff_id', suffixes=('', '_rental')) \
    .merge(df['payment'], on='rental_id', suffixes=('', '_payment')) \
    .groupby('store_id') \
    .agg(toplam_kazanc=('amount', 'sum')) \
    .reset_index() \
    .sort_values(by='toplam_kazanc', ascending=False) \
    .head(1)

print("En fazla kazanç sağlayan mağaza ve toplam kazancı:")
print(soru_94)

conn.close()

En fazla kazanç sağlayan mağaza ve toplam kazancı:
   store_id  toplam_kazanc
1         2       33881.94

**Soru 95: En az kazanç sağlayan mağaza hangisidir ve toplam kazancı nedir?  ==>  "SQL:
SELECT store.store_id, SUM(payment.amount) AS total_revenue
FROM store
JOIN staff ON store.store_id = staff.store_id
JOIN rental ON staff.staff_id = rental.staff_id
JOIN payment ON rental.rental_id = payment.rental_id GROUP BY store.store_id
ORDER BY total_revenue ASC
LIMIT 1;"**

In [ ]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('sqlite-sakila.db')

df = {}
for table_name in ['store', 'staff', 'rental', 'payment']:
    query = f"SELECT * FROM {table_name}"
    df[table_name] = pd.DataFrame(conn.execute(query).fetchall(),
                                  columns=[column[0] for column in conn.execute(query).description])


soru_95 = df['store'] \
    .merge(df['staff'], on='store_id', suffixes=('', '_staff')) \
    .merge(df['rental'], on='staff_id', suffixes=('', '_rental')) \
    .merge(df['payment'], on='rental_id', suffixes=('', '_payment')) \
    .groupby('store_id') \
    .agg(toplam_kazanc=('amount', 'sum')) \
    .reset_index() \
    .sort_values(by='toplam_kazanc', ascending=True) \
    .head(1)

print("En az kazanç sağlayan mağaza ve toplam kazancı:")
print(soru_95)


conn.close()

En az kazanç sağlayan mağaza ve toplam kazancı:
   store_id  toplam_kazanc
0         1       33524.62

**Soru 96: En fazla sayıda farklı film kiralayan müşteri hangisidir?  ==>  "SQL: SELECT
    customer.first_name,
    customer.last_name,
    COUNT(DISTINCT rental.inventory_id) AS unique_rentals
FROM
    customer
JOIN
    rental ON customer.customer_id = rental.customer_id
GROUP BY
    customer.first_name,
    customer.last_name
ORDER BY
    unique_rentals DESC
LIMIT 1;
"**

In [ ]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('sqlite-sakila.db')

df = {}
for table_name in ['customer', 'rental']:
    query = f"SELECT * FROM {table_name}"
    df[table_name] = pd.DataFrame(conn.execute(query).fetchall(),
                                  columns=[column[0] for column in conn.execute(query).description])


soru_96 = df['customer'] \
    .merge(df['rental'], on='customer_id') \
    .groupby(['first_name', 'last_name']) \
    .agg(farkli_kiralama_sayisi=('inventory_id', 'nunique')) \
    .reset_index() \
    .sort_values(by='farkli_kiralama_sayisi', ascending=False) \
    .head(1)

print("En fazla sayıda farklı film kiralayan müşteri:")
print(soru_96)

conn.close()

En fazla sayıda farklı film kiralayan müşteri:
    first_name last_name  farkli_kiralama_sayisi
175    ELEANOR      HUNT                      46

**Soru 97: En az sayıda farklı film kiralayan müşteri hangisidir?  ==>  "SQL: SELECT
    customer.first_name,
    customer.last_name,
    COUNT(DISTINCT rental.inventory_id) AS unique_rentals
FROM
    customer
JOIN
    rental ON customer.customer_id = rental.customer_id
GROUP BY
    customer.first_name,
    customer.last_name
ORDER BY
    unique_rentals ASC
LIMIT 1;
"**

In [ ]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('sqlite-sakila.db')

df = {}
for table_name in ['customer', 'rental']:
    query = f"SELECT * FROM {table_name}"
    df[table_name] = pd.DataFrame(conn.execute(query).fetchall(),
                                  columns=[column[0] for column in conn.execute(query).description])


soru_97 = df['customer'] \
    .merge(df['rental'], on='customer_id') \
    .groupby(['first_name', 'last_name']) \
    .agg(farkli_kiralama_sayisi=('inventory_id', 'nunique')) \
    .reset_index() \
    .sort_values(by='farkli_kiralama_sayisi', ascending=True) \
    .head(1)

print("En az sayıda farklı film kiralayan müşteri:")
print(soru_97)

conn.close()

En az sayıda farklı film kiralayan müşteri:
   first_name last_name  farkli_kiralama_sayisi
71      BRIAN     WYMAN                      12

**Soru 98: En fazla sayıda farklı müşteri tarafından kiralanan film hangisidir?  ==>  "SQL:
SELECT film.title, COUNT(DISTINCT rental.customer_id) AS unique_customers
FROM film
JOIN inventory ON film.film_id = inventory.film_id
JOIN rental ON inventory.inventory_id = rental.inventory_id
GROUP BY film.title
ORDER BY unique_customers DESC
LIMIT 1;
"**

In [ ]:
import sqlite3
import pandas as pd


conn = sqlite3.connect('sqlite-sakila.db')

df = {}
for table_name in ['film', 'inventory', 'rental']:
    query = f"SELECT * FROM {table_name}"
    df[table_name] = pd.DataFrame(conn.execute(query).fetchall(),
                                  columns=[column[0] for column in conn.execute(query).description])

soru_98 = df['film'] \
    .merge(df['inventory'], on='film_id') \
    .merge(df['rental'], on='inventory_id') \
    .groupby('title') \
    .agg(farkli_musteri_sayisi=('customer_id', 'nunique')) \
    .reset_index() \
    .sort_values(by='farkli_musteri_sayisi', ascending=False) \
    .head(1)

print("En fazla sayıda farklı müşteri tarafından kiralanan film:")
print(soru_98)

conn.close()

En fazla sayıda farklı müşteri tarafından kiralanan film:
                 title  farkli_musteri_sayisi
96  BUCKET BROTHERHOOD                     33

**Soru 99: En az sayıda farklı müşteri tarafından kiralanan film hangisidir?  ==>  "SQL:
SELECT film.title, COUNT(DISTINCT rental.customer_id) AS unique_customers FROM film
JOIN inventory ON film.film_id = inventory.film_id
JOIN rental ON inventory.inventory_id = rental.inventory_id
GROUP BY film.title
ORDER BY unique_customers ASC
LIMIT 1;"**

In [ ]:
import sqlite3
import pandas as pd


conn = sqlite3.connect('sqlite-sakila.db')


df = {}
for table_name in ['film', 'inventory', 'rental']:
    query = f"SELECT * FROM {table_name}"
    df[table_name] = pd.DataFrame(conn.execute(query).fetchall(),
                                  columns=[column[0] for column in conn.execute(query).description])


soru_99 = df['film'] \
    .merge(df['inventory'], on='film_id') \
    .merge(df['rental'], on='inventory_id') \
    .groupby('title') \
    .agg(farkli_musteri_sayisi=('customer_id', 'nunique')) \
    .reset_index() \
    .sort_values(by='farkli_musteri_sayisi', ascending=True) \
    .head(1)

print("En az sayıda farklı müşteri tarafından kiralanan film:")
print(soru_99)

conn.close()

En az sayıda farklı müşteri tarafından kiralanan film:
           title  farkli_musteri_sayisi
866  TRAIN BUNCH                      4

**Soru 100: Hangi mağazada, hangi kategoride en fazla kazanç sağlanmış?  ==>  "SQL:
SELECT store.store_id, category.name AS genre, SUM(payment.amount) AS total_revenue
FROM store
JOIN staff ON store.store_id = staff.store_id
JOIN rental ON staff.staff_id = rental.staff_id
JOIN inventory ON rental.inventory_id = inventory.inventory_id
JOIN film ON inventory.film_id = film.film_id
JOIN film_category ON film.film_id = film_category.film_id
JOIN category ON film_category.category_id = category.category_id
JOIN payment ON rental.rental_id = payment.rental_id
GROUP BY store.store_id, category.name
ORDER BY total_revenue DESC
LIMIT 1;"**

In [50]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('sqlite-sakila.db')

df = {}
for table_name in ['store', 'staff', 'rental', 'inventory', 'film', 'film_category', 'category', 'payment']:
    query = f"SELECT * FROM {table_name}"
    df[table_name] = pd.DataFrame(conn.execute(query).fetchall(),
                                  columns=[column[0] for column in conn.execute(query).description])

result = (df['store']
          .merge(df['staff'], on='store_id', how='inner', suffixes=('', '_staff'))
          .merge(df['rental'], on='staff_id', how='inner', suffixes=('', '_rental'))
          .merge(df['inventory'], on='inventory_id', how='inner', suffixes=('', '_inventory'))
          .merge(df['film'], on='film_id', how='inner', suffixes=('', '_film'))
          .merge(df['film_category'], on='film_id', how='inner', suffixes=('', '_film_category'))
          .merge(df['category'], on='category_id', how='inner', suffixes=('', '_category'))
          .merge(df['payment'], on='rental_id', how='inner', suffixes=('', '_payment'))
          .groupby(['store_id', 'name'])  # 'name' burada kategori adıdır
          .agg(total_revenue=('amount', 'sum'))  # Toplam geliri hesaplama
          .reset_index()
          .sort_values(by='total_revenue', ascending=False)
          .head(1))

print("En yüksek toplam gelire sahip mağaza ve kategori:")
print(result)

conn.close()

En yüksek toplam gelire sahip mağaza ve kategori:
    store_id    name  total_revenue
30         2  Sports        2761.85